<wm-partial data-ng-controller="FreeToChangePageController" type="popover" name="partial2">
    <wm-container name="container1" padding="unset 1em">
        <wm-layoutgrid name="layoutgrid1">
            <wm-gridrow name="gridrow4">
                <wm-gridcolumn columnwidth="12" name="gridcolumn10" padding="2px unset">
                    <wm-label name="label1" caption="What's included" width="100%"></wm-label>
                    <wm-label name="label2" width="100%" caption="Free to change fare" fontweight="bold"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
            <wm-gridrow name="gridrow1">
                <wm-gridcolumn columnwidth="2" name="gridcolumn1" padding="2px unset">
                    <wm-icon name="icon1" iconclass="fa fa-money" iconsize="25px" color="#84A9CE"></wm-icon>
                </wm-gridcolumn>
                <wm-gridcolumn columnwidth="10" name="gridcolumn2" padding="2px unset">
                    <wm-label name="label3" caption="Includes all taxes and surcharges"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
            <wm-gridrow name="gridrow2">
                <wm-gridcolumn columnwidth="2" name="gridcolumn4" padding="2px unset">
                    <wm-icon name="icon2" iconclass="fa fa-shopping-bag" iconsize="25px" color="#84A9CE"></wm-icon>
                </wm-gridcolumn>
                <wm-gridcolumn columnwidth="10" name="gridcolumn5" padding="2px unset">
                    <wm-label name="label4" caption="Includes a 7 kg hand baggage allowance"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
            <wm-gridrow name="gridrow3">
                <wm-gridcolumn columnwidth="2" name="gridcolumn7" padding="2px unset">
                    <wm-icon name="icon3" iconclass="fa fa-shopping-bag" iconsize="25px" color="#84A9CE"></wm-icon>
                </wm-gridcolumn>
                <wm-gridcolumn columnwidth="10" name="gridcolumn8" padding="2px unset">
                    <wm-label name="label5" caption="Includes 20 kg checked baggage allowance"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
            <wm-gridrow name="gridrow5">
                <wm-gridcolumn columnwidth="2" name="gridcolumn12" padding="2px unset">
                    <wm-icon name="icon4" iconclass="glyphicon glyphicon-calendar" iconsize="25px" color="#84A9CE"></wm-icon>
                </wm-gridcolumn>
                <wm-gridcolumn columnwidth="10" name="gridcolumn13" padding="2px unset">
                    <wm-label name="label6" caption="You can change your booking. Any difference in fare needs to be paid, but no fee will be charged for changes made more than 24 hours before departure. A fee of AED 365 (per person, per flight) will be charged for changes made less than 24 hours before depa"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
            <wm-gridrow name="gridrow6">
                <wm-gridcolumn columnwidth="2" name="gridcolumn14" padding="2px unset">
                    <wm-icon name="icon5" iconclass="fa fa-plane" iconsize="25px" color="#84A9CE"></wm-icon>
                </wm-gridcolumn>
                <wm-gridcolumn columnwidth="10" name="gridcolumn15" padding="2px unset">
                    <wm-label name="label7" caption="If you don’t make your flight (no show), you will pay AED 365 per person, per flight plus the difference in the fare. You must rebook within 96 hours of your original flight departure time or your booking will become void. No refund will be issued."></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
            <wm-gridrow name="gridrow7">
                <wm-gridcolumn columnwidth="2" name="gridcolumn16" padding="2px unset">
                    <wm-icon name="icon6" iconclass="fa fa-plane" iconsize="25px" color="#84A9CE"></wm-icon>
                </wm-gridcolumn>
                <wm-gridcolumn columnwidth="10" name="gridcolumn17" padding="2px unset">
                    <wm-label name="label8" caption="You can cancel your booking. A fee of AED 200 (per person, per flight) will be charged for cancellations made more than 24 hours before departure. A fee of AED 365 (per person, per flight) will be charged for cancellations made less than 24 hours before de"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
    </wm-container>
</wm-partial>