<wm-partial data-ng-controller="topnavPageController" name="topnav" type="topnav"> 
    <wm-navbar name="navbar1"> 
        <wm-nav name="leftTopLinks" type="navbar" class="navbar-left"> 
            <wm-nav-item name="list_home"> 
                <wm-anchor caption="Home" name="homeButton" iconclass="glyphicon glyphicon-home" on-click="Variables.goToPage_Main.invoke()"></wm-anchor> 
            </wm-nav-item> 
            <wm-nav-item name="list_services"> 
                <wm-anchor caption="AIRPORTS" name="orderButton" iconclass="glyphicon glyphicon-list" on-click="goToPage_Airport"></wm-anchor> 
            </wm-nav-item> 
            <wm-nav-item name="nav_item5"> 
                <wm-anchor name="anchor5" iconclass="fa fa-plane" caption="FLIGHTS" on-click="goToPage_Flight"></wm-anchor> 
            </wm-nav-item> 
            <wm-nav-item name="nav_item6"> 
                <wm-anchor name="anchor6" iconclass="glyphicon glyphicon-file" caption="Availablity" on-click="goToPage_Availablity"></wm-anchor> 
            </wm-nav-item> 
            <wm-nav-item name="nav_item7"> 
                <wm-anchor name="anchor7" iconclass="glyphicon glyphicon-file" caption="Fare" on-tap="goToPage_Fare"></wm-anchor> 
            </wm-nav-item> 
            <wm-nav-item name="nav_item8"></wm-nav-item> 
        </wm-nav> 
        <wm-nav name="rightTopLinks" type="navbar" class="navbar-right"> 
            <wm-nav-item name="list_help"> 
                <wm-anchor caption="Help" name="helpLink" iconclass="glyphicon glyphicon-question-sign"></wm-anchor> 
            </wm-nav-item> 
            <wm-nav-item name="list_logout"> 
                <wm-anchor caption="Logout" name="logoutLink" iconclass="glyphicon glyphicon-user" on-click="Variables.logoutVariable.invoke()"></wm-anchor> 
            </wm-nav-item> 
        </wm-nav> 
    </wm-navbar> 
</wm-partial>