<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="leftnav"> 
    <wm-nav name="leftnavigation" type="pills" layout="stacked"> 
        <wm-nav-item name="list_latestUpdate"> 
            <wm-anchor caption="Reservation" name="dashboardLink" on-click="Variables.goToPage_Main.invoke()" iconurl="resources/images/imagelists/reservation_icon.png"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item> 
            <wm-anchor caption="History" iconurl="resources/images/imagelists/history_icon.png" on-click="Variables.goToPage_AllBookings.invoke()" name="anchor7_1"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="list_booking" show="true"> 
            <wm-anchor caption="Checkin" name="hij" iconurl="resources/images/imagelists/checkin_icon.png" show="false"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="list_booking"> 
            <wm-anchor caption="Assign Seats" name="klm" iconurl="resources/images/imagelists/assignseats_icon.png" show="false"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="nav_item6"> 
            <wm-anchor name="anchor6" caption="Payment Assignment" iconurl="resources/images/imagelists/payassign_icon.png" show="false"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="nav_item7"> 
            <wm-anchor name="anchor7" caption="Receipt" iconurl="resources/images/imagelists/receipt_icon.png" show="false"></wm-anchor> 
        </wm-nav-item> 
    </wm-nav> 
</wm-partial>