<wm-partial data-ng-controller="Flight_DetailsPageController" name="partial1"> 
    <wm-layoutgrid name="layoutgrid1" columns="2" marginunit="em" paddingleft="1" paddingunit="em" paddingright="1"> 
        <wm-gridrow name="gridrow4"> 
            <wm-gridcolumn colwidth="6" name="gridcolumn10" columnwidth="12"> 
                <wm-label name="label1" caption="Flight Information" class="h3" fontweight="bold" marginunit="em" marginbottom="1"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow5"> 
            <wm-gridcolumn colwidth="6" name="gridcolumn12"> 
                <wm-label name="label2" caption="Carrier/Flight Number" paddingtop=".5"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn colwidth="6" name="gridcolumn13"> 
                <wm-label name="label7" caption="bind:Variables.selected_to_flight.dataSet.number" width="100%" paddingleft="1" paddingtop=".5" paddingbottom=".5" paddingright="1" paddingunit="em" bordercolor="#ccc" borderstyle="solid" bordertop="1" borderleft="1" borderright="1" borderbottom="1"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow6"> 
            <wm-gridcolumn colwidth="6" name="gridcolumn14"> 
                <wm-label name="label3" caption="City" paddingtop=".5"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn colwidth="6" name="gridcolumn15"> 
                <wm-label caption="bind:Variables.selected_to_flight.dataSet.airportBySourceAirport.code" width="100%" paddingleft="1" paddingtop=".5" paddingbottom=".5" paddingright="1" paddingunit="em" bordercolor="#ccc" borderstyle="solid" bordertop="1" borderleft="1" borderright="1" borderbottom="1" name="label20"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow7"> 
            <wm-gridcolumn colwidth="6" name="gridcolumn16"> 
                <wm-label name="label4" caption="Departure Date/Time" paddingtop=".5"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn colwidth="6" name="gridcolumn17"> 
                <wm-label caption="bind:(Variables.selected_to_flight.dataSet.departureDate | toDate: 'dd MMM' )+' / '+Variables.selected_to_flight.dataSet.departureTime" width="100%" paddingleft="1" paddingtop=".5" paddingbottom=".5" paddingright="1" paddingunit="em" bordercolor="#ccc" borderstyle="solid" bordertop="1" borderleft="1" borderright="1" borderbottom="1" name="label21"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow8"> 
            <wm-gridcolumn colwidth="6" name="gridcolumn18"> 
                <wm-label name="label5" caption="Arrival Date/Time" paddingtop=".5"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn colwidth="6" name="gridcolumn19"> 
                <wm-label caption="bind:(Variables.selected_to_flight.dataSet.arrivalDate | toDate: 'dd MMM')+' / '+(Variables.selected_to_flight.dataSet.arrivalTime)" width="100%" paddingleft="1" paddingtop=".5" paddingbottom=".5" paddingright="1" paddingunit="em" bordercolor="#ccc" borderstyle="solid" bordertop="1" borderleft="1" borderright="1" borderbottom="1" name="label22"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow6_1"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn11_1"> 
                <wm-label caption="Total Duration" name="label10_1" paddingtop=".5"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn12_1"> 
                <wm-label caption="bind:Variables.selected_to_flight.dataSet.travelDuration" width="100%" paddingleft="1" paddingtop=".5" paddingbottom=".5" paddingright="1" paddingunit="em" bordercolor="#ccc" borderstyle="solid" bordertop="1" borderleft="1" borderright="1" borderbottom="1" name="label23"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow7_1"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn13_1"> 
                <wm-label caption="Stops" name="label11" paddingtop=".5"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn14_1"> 
                <wm-label caption="Non Stop" width="100%" paddingleft="1" paddingtop=".5" paddingbottom=".5" paddingright="1" paddingunit="em" bordercolor="#ccc" borderstyle="solid" bordertop="1" borderleft="1" borderright="1" borderbottom="1" name="label24"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow9"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn17_1"> 
                <wm-label caption="Equipment Type" name="label13" paddingtop=".5"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn18_1"> 
                <wm-label caption="738" width="100%" paddingleft="1" paddingtop=".5" paddingbottom=".5" paddingright="1" paddingunit="em" bordercolor="#ccc" borderstyle="solid" bordertop="1" borderleft="1" borderright="1" borderbottom="1" name="label25"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow10"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn19_1"> 
                <wm-label caption="Infants Booked" name="label14" paddingtop=".5"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn20"> 
                <wm-label caption="0" width="100%" paddingleft="1" paddingtop=".5" paddingbottom=".5" paddingright="1" paddingunit="em" bordercolor="#ccc" borderstyle="solid" bordertop="1" borderleft="1" borderright="1" borderbottom="1" name="label26"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow11"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn21"> 
                <wm-label caption="Maximum Infants" name="label15" paddingtop=".5"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn22"> 
                <wm-label caption="15" width="100%" paddingleft="1" paddingtop=".5" paddingbottom=".5" paddingright="1" paddingunit="em" bordercolor="#ccc" borderstyle="solid" bordertop="1" borderleft="1" borderright="1" borderbottom="1" name="label27"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>