<wm-partial data-ng-controller="QRTTPC_DETAILSPageController" type="popover" name="partial1">
    <wm-container name="container1" margin="unset 1em">
        <wm-layoutgrid name="layoutgrid1" columns="6" width="90%">
            <wm-gridrow name="gridrow9">
                <wm-gridcolumn colwidth="2" name="gridcolumn20" columnwidth="1">
                    <wm-label name="label1" caption="Pax" fontweight="bold"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn21" columnwidth="3">
                    <wm-label name="label2" caption="Cabin" fontweight="bold"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn22">
                    <wm-label name="label3" caption="Basis" fontweight="bold"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn23">
                    <wm-label name="label4" caption="PTC" fontweight="bold"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn24">
                    <wm-label name="label5" caption="Fare" fontweight="bold"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn25">
                    <wm-label name="label6" caption="Availability" fontweight="bold"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
            <wm-gridrow name="gridrow10">
                <wm-gridcolumn colwidth="2" name="gridcolumn26" columnwidth="1">
                    <wm-label name="label7" caption="0"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn27" columnwidth="3">
                    <wm-label name="label8" caption="Economy"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn28">
                    <wm-label name="label9" caption="KTPC"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn29">
                    <wm-label name="label10" caption="Child"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn30">
                    <wm-label name="label11" caption="300"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn31">
                    <wm-label name="label12" caption="55"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
            <wm-gridrow name="gridrow10">
                <wm-gridcolumn colwidth="2" name="gridcolumn26" columnwidth="1">
                    <wm-label name="label7" caption="0"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn27" columnwidth="3">
                    <wm-label name="label8" caption="Economy"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn28">
                    <wm-label name="label9" caption="KTPC"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn29">
                    <wm-label name="label10" caption="Adult"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn30">
                    <wm-label name="label11" caption="3000"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn31">
                    <wm-label name="label12" caption="15"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
            <wm-gridrow name="gridrow10">
                <wm-gridcolumn colwidth="2" name="gridcolumn26" columnwidth="1">
                    <wm-label name="label7" caption="0"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn27" columnwidth="3">
                    <wm-label name="label8" caption="Economy"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn28">
                    <wm-label name="label9" caption="QTPC"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn29">
                    <wm-label name="label10" caption="Child"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn30">
                    <wm-label name="label11" caption="200"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn31">
                    <wm-label name="label12" caption="30"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
            <wm-gridrow name="gridrow10">
                <wm-gridcolumn colwidth="2" name="gridcolumn26" columnwidth="1">
                    <wm-label name="label7" caption="0"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn27" columnwidth="3">
                    <wm-label name="label8" caption="Economy"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn28">
                    <wm-label name="label9" caption="QTPC"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn29">
                    <wm-label name="label10" caption="Adult"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn30">
                    <wm-label name="label11" caption="2000"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn colwidth="2" name="gridcolumn31">
                    <wm-label name="label12" caption="30"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
    </wm-container>
</wm-partial>