<wm-partial data-ng-controller="headerPageController" name="header" type="header"> 
    <wm-layoutgrid name="headerlayout"> 
        <wm-gridrow name="headerrow" horizontalalign="left"> 
            <wm-gridcolumn name="headerleft" verticalalign="middle" columnwidth="9" padding="1em unset unset 1em"> 
                <wm-label name="label2" caption="WaveFlights" fontweight="bold" fontsize="25" on-click="Variables.goToPage_Main.invoke()"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn name="headerright" horizontalalign="right" verticalalign="middle" columnwidth="3"> 
                <wm-container name="containerDontDelete" display="inline-block" padding=".5em 1em" show="false"> 
                    <wm-picture name="picture2" shape="circle" marginunit="em" picturesource="resources/images/imagelists/profilepic.png" show="bind:false"></wm-picture> 
                    <wm-label name="label2_1" caption="User" margin="unset unset 0em 1em" show="bind:false"></wm-label> 
                </wm-container> 
                <wm-button caption="Logout" type="button" name="button1DontDelete" on-click="Variables.logoutVariable.invoke()" class="btn-transparent text-primary btn-rounded" margin="unset 1em .3em 1em" iconclass="wi wi-sign-out" color="#fff" show="false"></wm-button> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>