<wm-page data-ng-controller="extraPageController" pagetitle="Extra"> 
    <wm-content> 
        <wm-page-content columnwidth="12"> 
            <wm-layoutgrid name="layoutgrid8" margin="0em 1em unset 1em"> 
                <wm-gridrow name="gridrow58"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn166"> 
                        <wm-container name="container8"> 
                            <wm-gridrow name="gridrow28" padding="unset 1em"> 
                                <wm-gridcolumn columnwidth="5" name="gridcolumn67"> 
                                    <wm-label name="label46" caption="bind:Widgets.selected_trip.datavalue" fontweight="bold" class="h4" margin="0px unset unset unset"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="7" name="gridcolumn81"> 
                                    <wm-container name="container2_1"> 
                                        <wm-container name="container2" width="33%" horizontalalign="center" backgroundcolor="#e9e8f8" display="inline-block" padding=".5em unset" margin="unset .25% unset unset"> 
                                            <wm-label name="label50" caption="ADULT" width="100%"></wm-label> 
                                            <wm-label name="label66" caption="bind:Widgets.adult_count_textbox.datavalue" class="h2" fontweight="bold" color="#000000" margin="0px unset unset unset"></wm-label> 
                                        </wm-container> 
                                        <wm-container name="container3" horizontalalign="center" backgroundcolor="#e9e8f8" width="33%" display="inline-block" margin="unset .25% unset unset" padding=".5em unset"> 
                                            <wm-label name="label64" caption="CHILD" width="100%"></wm-label> 
                                            <wm-label caption="bind:Widgets.child_count_textbox.datavalue" width="100%" name="label67" class="h2" color="#000000" fontweight="bold" margin="0px unset unset unset"></wm-label> 
                                        </wm-container> 
                                        <wm-container name="container4" horizontalalign="center" backgroundcolor="#e9e8f8" width="33%" display="inline-block" padding=".5em unset"> 
                                            <wm-label name="label65" caption="INFANT" width="100%"></wm-label> 
                                            <wm-label caption="bind:Widgets.infant__count_textbox.datavalue" width="100%" name="label68" class="h2" color="#000000" fontweight="bold" margin="0px unset unset unset"></wm-label> 
                                        </wm-container> 
                                    </wm-container> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-gridrow name="gridrow29" padding="unset 1em"> 
                                <wm-gridcolumn columnwidth="12" name="gridcolumn70"> 
                                    <wm-label name="label48" caption="DATE" margin="unset 0.5em unset unset"></wm-label> 
                                    <wm-label name="label49" caption="bind:Widgets.to_flight_livelist.selecteditem.departureDate | toDate: 'dd MMM, yy' + ' | ' +' foo'" color="#7B88DF" fontunit="em" margin="0px unset unset unset" fontweight="bold"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-gridrow name="gridrow57" backgroundcolor="#2B333A" padding=".5em 1em unset 1em"> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn161" horizontalalign="center"> 
                                    <wm-label name="label69" caption="bind:Widgets.to_flight_livelist.selecteditem.airportBySourceAirport.code" class="h2" color="#fff" fontweight="bold" margin="0px unset"></wm-label> 
                                    <wm-label name="label116" caption="FROM" class="h6" margin="0px unset unset unset" color="#ccc"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="8" name="gridcolumn162"></wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn163" horizontalalign="center"> 
                                    <wm-label name="label70" caption="bind:Widgets.to_flight_livelist.selecteditem.airportByDestinationAirport.code" class="h2" color="#fff" fontweight="bold" margin="0px unset"></wm-label> 
                                    <wm-label caption="TO" name="label117" class="h6" margin="0px unset unset unset" color="#ccc"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-container> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow33" padding="1em 1em unset 1em"> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn88"> 
                        <wm-label name="label71" color="#000000" fontweight="bold" caption="bind:Widgets.to_flight_livelist.selecteditem.number" margin="unset unset 0px unset"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="2" name="gridcolumn89"> 
                        <wm-label name="label73" color="#000000" fontweight="bold" caption="bind:Widgets.to_flight_livelist.selecteditem.departureTime | toDate: 'hh:mm a'" margin="unset unset 0px unset"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn90"> 
                        <wm-label name="label74" color="#000000" fontweight="bold" caption="bind:Widgets.to_flight_livelist.selecteditem.travelDuration" margin="unset unset 0px unset"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="2" name="gridcolumn92"> 
                        <wm-label name="label75" color="#000000" fontweight="bold" caption="bind:Widgets.to_flight_livelist.selecteditem.arrivalTime| toDate: 'hh:mm a'" margin="unset unset 0px unset"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="2" name="gridcolumn93" padding="unset unset unset 1em"> 
                        <wm-label name="label76" color="#000000" fontweight="bold" caption="Price" margin="unset unset 0px unset"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow34" padding="1em 1em unset 1em"> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn94"> 
                        <wm-label name="label72" caption="bind:Widgets.selected_class.datavalue"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="2" name="gridcolumn95"> 
                        <wm-label name="label77" caption="bind:Widgets.to_flight_livelist.selecteditem.airportBySourceAirport.code"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn96"> 
                        <wm-label name="label78" caption="NON-STOP"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="2" name="gridcolumn99"> 
                        <wm-label name="label79" caption="bind:Widgets.to_flight_livelist.selecteditem.airportByDestinationAirport.code"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="2" name="gridcolumn100"> 
                        <wm-label name="label80" caption="12345" margin="unset unset unset 1em" padding="unset .5em" color="#fff" backgroundcolor="#91c5a2"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow39" padding="1em 1em unset 1em"> 
                    <wm-gridrow name="gridrow40"> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn126"> 
                            <wm-label color="#000000" fontweight="bold" caption="bind:Widgets.to_flight_livelist.selecteditem.number" name="label102"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn127"> 
                            <wm-label color="#000000" fontweight="bold" caption="bind:Widgets.to_flight_livelist.selecteditem.departureTime | toDate: 'hh:mm a'" name="label103"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn128"> 
                            <wm-label color="#000000" fontweight="bold" caption="bind:Widgets.to_flight_livelist.selecteditem.travelDuration" name="label104"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn129"> 
                            <wm-label color="#000000" fontweight="bold" caption="bind:Widgets.to_flight_livelist.selecteditem.arrivalTime| toDate: 'hh:mm a'" name="label105"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn130" padding="unset unset unset 1em"> 
                            <wm-label color="#000000" fontweight="bold" caption="Price" name="label106"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow41" padding="1em 1em unset 1em"> 
                    <wm-gridrow name="gridrow42"> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn131"> 
                            <wm-label caption="bind:Widgets.selected_class.datavalue" name="label107"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn132"> 
                            <wm-label caption="bind:Widgets.to_flight_livelist.selecteditem.airportBySourceAirport.code" name="label108"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn133"> 
                            <wm-label caption="NON-STOP" name="label109"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn134"> 
                            <wm-label caption="bind:Widgets.to_flight_livelist.selecteditem.airportByDestinationAirport.code" name="label110"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn135" padding="unset unset unset 1em"> 
                            <wm-label name="label111" caption="876543" padding="unset .5em" backgroundcolor="#91c5a2" color="#fff"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow56" borderstyle="groove" borderwidth="1px 0px 0px 0px"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn156" horizontalalign="right" padding="unset 1em unset unset"> 
                        <wm-label name="label114" caption="TOTAL QUOTE" fontweight="bold" fontsize="1.2" fontunit="em"></wm-label> 
                        <wm-label name="label115" caption="INR TEST" fontweight="bold" margin="unset unset unset 1em" fontsize="1.2" fontunit="em"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow43"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn136"> 
                        <wm-container name="container5" padding="1em unset" backgroundcolor="#E9E8F8"> 
                            <wm-layoutgrid name="layoutgrid10" columns="1"> 
                                <wm-gridrow name="gridrow55"> 
                                    <wm-gridcolumn colwidth="12" name="gridcolumn154" columnwidth="6" padding="unset unset unset 1em"> 
                                        <wm-icon name="icon2_1" iconclass="glyphicon glyphicon-chevron-down fa-lg"></wm-icon> 
                                        <wm-label name="label113" caption="show details" margin="unset unset unset .5em"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn155"> 
                                        <wm-button class="btn-default pull-right" caption="BOOK" type="button" name="button3" margin="unset 1.5em unset unset"></wm-button> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-container> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
</wm-page>