<wm-partial data-ng-controller="SpecialOfferPageController" type="popover" name="partial1"> 
    <wm-layoutgrid name="layoutgrid1"> 
        <wm-gridrow name="gridrow4"> 
            <wm-gridcolumn columnwidth="12" name="gridcolumn10" paddingtop="2" paddingbottom="2"> 
                <wm-label name="label1" caption="What's included" width="100%"></wm-label> 
                <wm-label name="label2" width="100%" caption="Pay to change fare" fontweight="bold"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow1"> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn1" paddingtop="2" paddingbottom="2"> 
                <wm-icon name="icon1" iconclass="fa fa-money" iconsize="25px" color="#84A9CE"></wm-icon> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="10" name="gridcolumn2" paddingtop="2" paddingbottom="2"> 
                <wm-label name="label3" caption="Includes all taxes and surcharges – only available on selected routes during certain special offer periods"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow2"> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn4" paddingtop="2" paddingbottom="2"> 
                <wm-icon name="icon2" iconclass="fa fa-shopping-bag" iconsize="25px" color="#84A9CE"></wm-icon> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="10" name="gridcolumn5" paddingtop="2" paddingbottom="2"> 
                <wm-label name="label4" caption="Includes a 7 kg hand baggage allowance"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow3"> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn7" paddingtop="2" paddingbottom="2"> 
                <wm-icon name="icon3" iconclass="fa fa-shopping-bag" iconsize="25px" color="#84A9CE"></wm-icon> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="10" name="gridcolumn8" paddingtop="2" paddingbottom="2"> 
                <wm-label name="label5" caption="Includes 20 kg checked baggage allowance"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow5"> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn12" paddingtop="2" paddingbottom="2"> 
                <wm-icon name="icon4" iconclass="glyphicon glyphicon-calendar" iconsize="25px" color="#84A9CE"></wm-icon> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="10" name="gridcolumn13" paddingtop="2" paddingbottom="2"> 
                <wm-label name="label6" caption="You can change your booking. Any difference in fare, plus a fee of AED 150 (per person, per flight), will be charged for changes made more than 24 hours before departure. No changes are permitted less than 24 hours before departure."></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow6"> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn14" paddingtop="2" paddingbottom="2"> 
                <wm-icon name="icon5" iconclass="fa fa-plane" iconsize="25px" color="#84A9CE"></wm-icon> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="10" name="gridcolumn15" paddingtop="2" paddingbottom="2"> 
                <wm-label name="label7" caption="If you don’t make your flight (no show), no refund or flight change allowed"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow7"> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn16" paddingtop="2" paddingbottom="2"> 
                <wm-icon name="icon6" iconclass="fa fa-plane" iconsize="25px" color="#84A9CE"></wm-icon> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="10" name="gridcolumn17" paddingtop="2" paddingbottom="2"> 
                <wm-label name="label8" caption="You can cancel your booking. A fee of AED 200 (per person, per flight) will be charged for cancellations made more than 24 hours before departure. The fee is 100% of the price paid if cancelled less than 24 hours before departure."></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>