<wm-page name="page1" data-ng-controller="FlightConfirmationPageController" pagetitle="Flight Confirmation">
    <wm-header name="header1" content="header"></wm-header>
    <wm-content name="content1">
        <wm-left-panel name="left_panel1" columnwidth="2" content="leftnav"></wm-left-panel>
        <wm-page-content name="page_content1" columnwidth="10">
            <wm-layoutgrid name="layoutgrid5">
                <wm-gridrow name="gridrow20_1">
                    <wm-gridcolumn columnwidth="1" name="gridcolumn42" horizontalalign="center" paddingunit="em">
                        <wm-container name="container1" horizontalalign="center" padding="1em unset">
                            <wm-icon name="icon1" iconclass="wi wi-done fa-5x" color="#009863"></wm-icon>
                        </wm-container>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="11" name="gridcolumn43_1" padding="unset 5em unset unset">
                        <wm-layoutgrid name="layoutgrid1" paddingunit="em">
                            <wm-gridrow name="gridrow1" backgroundcolor="#ffffff" padding="unset unset unset 5px">
                                <wm-gridcolumn name="gridcolumn1" columnwidth="6" borderstyle="none" borderwidth="0px 1px 0px 0px">
                                    <wm-layoutgrid name="layoutgrid3" columns="1" margin="unset unset 1em 1em">
                                        <wm-gridrow name="gridrow32_1">
                                            <wm-gridcolumn colwidth="12" name="gridcolumn46_1">
                                                <wm-label color="#000000" class="h2" caption="Your booking has been confirmed!" name="label1"></wm-label>
                                                <wm-label caption="Booking confirmation" name="label14" class="h3"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow26_1" padding="unset unset .5em unset">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn35">
                                                <wm-label caption="Booking reference" name="label15" width="100%" color="#0fb3ae" fontsize="1.2" fontunit="em"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn37_2">
                                                <wm-label caption="WM-67577" name="label20" padding=".3em .5em"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow27_2">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn36">
                                                <wm-label caption="Payment reference" name="label16" width="100%" color="#0fb3ae" fontsize="1.2" fontunit="em"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn38_1">
                                                <wm-label caption="PR1354" name="label27" padding=".3em .5em"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-gridcolumn>
                                <wm-gridcolumn name="gridcolumn2" columnwidth="6" borderstyle="dashed" bordercolor="#DBDBDB" borderwidth="0px 0px 0px 2px" padding="unset unset unset 2em">
                                    <wm-layoutgrid name="layoutgrid2" margin="1em unset 1em 1em">
                                        <wm-gridrow name="gridrow4">
                                            <wm-gridcolumn name="gridcolumn10" columnwidth="12">
                                                <wm-button textalign="center" name="button2" caption="Go to Booking History" type="button" on-click="Variables.goToPage_AllBookings.invoke()" fontweight="bold" class="btn-default pull-right"></wm-button>
                                                <wm-label caption="bind:Variables.getBookingById.dataSet.tripType + ', '+Variables.getBookingById.dataSet.flightByToFlightId.airportBySourceAirport.code+' - '+Variables.getBookingById.dataSet.flightByToFlightId.airportByDestinationAirport.code"
                                                name="label2" class="h3"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow5">
                                            <wm-gridcolumn name="gridcolumn13" columnwidth="12">
                                                <wm-label caption="bind:Variables.getBookingById.dataSet.flightByToFlightId.departureDate | toDate: 'dd MMM, yyyy'" name="roundTripLabel" class="h5"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow21_1">
                                            <wm-gridcolumn columnwidth="12" name="gridcolumn37">
                                                <wm-label name="segment1LabelStart" caption="bind:'Segment 1 | '+ Variables.getBookingById.dataSet.flightByToFlightId.airportBySourceAirport.code+' - '+Variables.getBookingById.dataSet.flightByToFlightId.airportByDestinationAirport.code+' | '+Variables.getBookingById.dataSet.flightByToFlightId.airlines"
                                                fontweight="bold" color="#4B4B4B"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow6">
                                            <wm-gridcolumn name="gridcolumn16" columnwidth="12">
                                                <wm-label fontweight="bold" color="#4B4B4B" class="h2" caption="bind:Variables.getBookingById.dataSet.flightByToFlightId.departureTime+' - '+Variables.getBookingById.dataSet.flightByToFlightId.arrivalTime" name="label5"
                                                margin="0px unset unset unset"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow11">
                                            <wm-gridcolumn name="gridcolumn30" columnwidth="6">
                                                <wm-label caption="bind:Variables.getBookingById.dataSet.flightByToFlightId.travelDuration +' (Non-Stop) '" name="label8"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn name="gridcolumn31" columnwidth="6">
                                                <wm-label caption="bind:Variables.getBookingById.dataSet.classType" name="segment1LabelEnd" color="#000000"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow24">
                                            <wm-gridcolumn columnwidth="12" name="gridcolumn44">
                                                <wm-label caption="bind:Variables.getBookingById.dataSet.flightByFroFlightId.departureDate | toDate: 'dd MMM, yyyy'" name="roundTripLabel2" class="h5" show="bind:Variables.getBookingById.dataSet.tripType == 'Round Trip'"
                                                margin="2em unset unset unset"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow25">
                                            <wm-gridcolumn columnwidth="12" name="gridcolumn47_1">
                                                <wm-container name="container2" show="bind:Variables.getBookingById.dataSet.tripType == 'Round Trip'">
                                                    <wm-label caption="bind:'Segment 2 | '+ Variables.getBookingById.dataSet.flightByFroFlightId.airportBySourceAirport.code+' - '+Variables.getBookingById.dataSet.flightByFroFlightId.airportByDestinationAirport.code+' | '+Variables.getBookingById.dataSet.flightByFroFlightId.airlines"
                                                    fontweight="bold" color="#4B4B4B" name="segment2LabelStart"></wm-label>
                                                    <wm-gridrow name="gridrow26">
                                                        <wm-gridcolumn columnwidth="12" name="gridcolumn50">
                                                            <wm-label fontweight="bold" color="#4B4B4B" class="h2" caption="bind:Variables.getBookingById.dataSet.flightByFroFlightId.departureTime+' - '+Variables.getBookingById.dataSet.flightByFroFlightId.arrivalTime"
                                                            name="label30" margin="0px unset unset unset"></wm-label>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                    <wm-gridrow name="gridrow27">
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn53">
                                                            <wm-label caption="bind:Variables.svFlightConfirmation.dataSet.content[0].booking.flightByToFlightId.travelDuration +' (Non-Stop) '" name="label32"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn54">
                                                            <wm-label caption="bind:Variables.getBookingById.dataSet.classType" color="#000000" name="label29"></wm-label>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-container>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow16">
                                            <wm-gridcolumn horizontalalign="center" name="gridcolumn43" columnwidth="12" padding="1em unset"></wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow28">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn56" padding="1em unset unset unset">
                                    <wm-panel name="panel2" title="Traveller Details" class="panel-primary">
                                        <wm-layoutgrid name="layoutgrid7">
                                            <wm-gridrow name="gridrow27_1">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn37_1">
                                                    <wm-label name="label25" caption="Passenger Name" margin="unset unset 1em unset" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn38">
                                                    <wm-label name="label26" caption="Phone Number" margin="unset unset 1em unset" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow33">
                                                <wm-gridcolumn colwidth="12" name="gridcolumn68">
                                                    <wm-livelist dataset="bind:Variables.svFlightConfirmation.dataSet" listclass="list-group" template="true" name="livelist2">
                                                        <wm-listtemplate layout="blank" name="listtemplate2">
                                                            <wm-layoutgrid name="layoutgrid6">
                                                                <wm-gridrow name="gridrow22">
                                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn46" padding="unset .5em unset unset">
                                                                        <wm-label caption="bind:Variables.Passenger.dataSet.name" name="Passenger"></wm-label>
                                                                    </wm-gridcolumn>
                                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn47">
                                                                        <wm-label caption="bind:Variables.Passenger.dataSet.phone" name="Phone"></wm-label>
                                                                    </wm-gridcolumn>
                                                                </wm-gridrow>
                                                            </wm-layoutgrid>
                                                        </wm-listtemplate>
                                                    </wm-livelist>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow28_2">
                                                <wm-gridcolumn columnwidth="12" name="gridcolumn36_1">
                                                    <wm-checkbox caption="" name="primaryPassengerEmailCheckBox" fontweight="bold" datavalue="true" margin="0px unset unset unset" class="checkbox-tick"></wm-checkbox>
                                                    <wm-label caption="The Ticket will be sent to the customers email address &amp; phone" name="label24" margin="1em unset 0em unset"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-panel>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow19">
                                <wm-gridcolumn name="gridcolumn44_1" columnwidth="12">
                                    <wm-panel name="panel1" title="Payment Details" class="panel-primary">
                                        <wm-layoutgrid name="layoutgrid8">
                                            <wm-gridrow name="gridrow45">
                                                <wm-gridcolumn colwidth="12" name="gridcolumn86" columnwidth="5">
                                                    <wm-label caption="Total amount to be paid" name="label18" fontweight="bold" marginunit="em"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn94">
                                                    <wm-label name="label34" caption="bind:Variables.selectedCurrency.dataSet.dataValue+&quot; &quot;+Variables.totalFare.dataSet.dataValue" color="#fff" fontweight="bold" margin="0em unset" padding=".3em" backgroundcolor="#91C5A2"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow46">
                                                <wm-gridcolumn colwidth="12" name="gridcolumn87" columnwidth="12">
                                                    <wm-label caption="Note: If not paid in 72 hous your booking will be cancelled" name="label19" margin="0px unset unset unset" backgroundcolor="#e9d2db" color="#494949" fontstyle="italic"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-panel>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer name="footer1" content="footer"></wm-footer>
</wm-page>