<wm-partial data-ng-controller="footerPageController" name="footer" type="footer"> 
    <wm-layoutgrid height="auto" name="footerlayout"> 
        <wm-gridrow name="footerrow"> 
            <wm-gridcolumn name="footerleft" verticalalign="bottom"> 
                <wm-label caption="Powered by WaveMaker" textalign="left" name="poweredby"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn horizontalalign="right" verticalalign="bottom" name="footerright"> 
                <wm-label caption="Copyright 2014 [WaveMaker]" textalign="right" name="copyright"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>