<wm-page data-ng-controller="DataPageController" pagetitle="Data" name="page1"> 
    <wm-header content="header" name="header1"></wm-header> 
    <wm-content name="content1"> 
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel> 
        <wm-page-content columnwidth="10" name="page_content1"> 
            <wm-layoutgrid name="layoutgrid1" columns="1"> 
                <wm-gridrow name="gridrow4"> 
                    <wm-gridcolumn colwidth="12" name="gridcolumn10"> 
                        <wm-tabs name="tabs1"> 
                            <wm-tabpane name="tabpane2" heading="Airport" isdefaulttab="true"> 
                                <wm-livegrid formlayout="dialog" name="livegrid1" service="FDCallCenterDB@Airport"> 
                                    <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="AIRPORT LIST" dataset="bind:Variables.FDCallCenterDBAirportData.dataSet" name="grid1" class="panel-default"> 
                                        <wm-grid-column binding="code" caption="Code" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" primary-key="true"></wm-grid-column> 
                                        <wm-grid-column binding="name" caption="Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column> 
                                        <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer"></wm-grid-action> 
                                    </wm-grid> 
                                    <wm-liveform novalidate="false" title="AIRPORT INFO" formlayout="dialog" dataset="bind:Variables.FDCallCenterDBAirportData.dataSet" captionalign="left" captionposition="left" name="liveform1" class="panel-default"> 
                                        <wm-layoutgrid name="layoutgrid2_1"> 
                                            <wm-gridrow name="gridrow10_1"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn10_1"> 
                                                    <wm-form-field name="code" displayname="Code" required="true" show="true" generator="assigned" primary-key="true" key="code" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn11_1"> 
                                                    <wm-form-field name="name" displayname="Name" required="false" show="true" generator="assigned" primary-key="false" key="name" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow11_1"></wm-gridrow> 
                                        </wm-layoutgrid> 
                                        <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action> 
                                        <wm-form-action key="save" class="form-save btn-success" iconclass="glyphicon glyphicon-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action> 
                                    </wm-liveform> 
                                </wm-livegrid> 
                            </wm-tabpane> 
                            <wm-tabpane name="tabpane3" heading="Flight"> 
                                <wm-livegrid formlayout="dialog" name="livegrid7"> 
                                    <wm-grid gridfirstrowselect="true" readonlygrid="false" title="Flight List" dataset="bind:Variables.FDCallCenterDBFlightData.dataSet" navigation="Basic" name="grid7"> 
                                        <wm-grid-column binding="number" caption="Number" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column> 
                                        <wm-grid-column binding="departureDate" caption="Departure Date" generator="assigned" pcdisplay="true" mobiledisplay="true" type="date"></wm-grid-column> 
                                        <wm-grid-column binding="arrivalDate" caption="Arrival Date" generator="assigned" pcdisplay="true" mobiledisplay="true" type="date"></wm-grid-column> 
                                        <wm-grid-column binding="travelDuration" caption="Travel Duration" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column> 
                                        <wm-grid-column binding="departureTime" caption="Departure Time" generator="assigned" pcdisplay="true" mobiledisplay="true" type="time"></wm-grid-column> 
                                        <wm-grid-column binding="arrivalTime" caption="Arrival Time" generator="assigned" pcdisplay="true" mobiledisplay="true" type="time"></wm-grid-column> 
                                        <wm-grid-column binding="firstClassSeats" caption="First Class Seats" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-grid-column> 
                                        <wm-grid-column binding="businessClassSeats" caption="Business Class Seats" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-grid-column> 
                                        <wm-grid-column binding="economySeats" caption="Economy Seats" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-grid-column> 
                                        <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer"></wm-grid-action> 
                                        <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action> 
                                        <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action> 
                                    </wm-grid> 
                                    <wm-liveform novalidate="false" title="Flight Info" formlayout="dialog" dataset="bind:Variables.FDCallCenterDBFlightData.dataSet" captionalign="left" captionposition="top" name="liveform7"> 
                                        <wm-layoutgrid columns="3" name="layoutgrid8"> 
                                            <wm-gridrow name="gridrow60"> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn61"> 
                                                    <wm-form-field name="number" displayname="Number" required="true" show="true" generator="assigned" primary-key="false" key="number" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn62"> 
                                                    <wm-form-field name="departureDate" displayname="Departure Date" required="false" show="true" generator="assigned" primary-key="false" key="departureDate" type="date" is-related="false" pc-display="true" mobile-display="true" widget="date"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn63"> 
                                                    <wm-form-field name="arrivalDate" displayname="Arrival Date" required="false" show="true" generator="assigned" primary-key="false" key="arrivalDate" type="date" is-related="false" pc-display="true" mobile-display="true" widget="date"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow61"> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn64_1"> 
                                                    <wm-form-field name="travelDuration" displayname="Travel Duration" required="false" show="true" generator="assigned" primary-key="false" key="travelDuration" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn65_1"> 
                                                    <wm-form-field name="departureTime" displayname="Departure Time" required="false" show="true" generator="assigned" primary-key="false" key="departureTime" type="time" is-related="false" pc-display="true" mobile-display="true" widget="time"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn66_1"> 
                                                    <wm-form-field name="arrivalTime" displayname="Arrival Time" required="false" show="true" generator="assigned" primary-key="false" key="arrivalTime" type="time" is-related="false" pc-display="true" mobile-display="true" widget="time"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow62"> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn67_1"> 
                                                    <wm-form-field name="firstClassSeats" displayname="First Class Seats" required="true" show="true" generator="assigned" primary-key="false" key="firstClassSeats" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn68_1"> 
                                                    <wm-form-field name="businessClassSeats" displayname="Business Class Seats" required="true" show="true" generator="assigned" primary-key="false" key="businessClassSeats" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn69_1"> 
                                                    <wm-form-field name="economySeats" displayname="Economy Seats" required="true" show="true" generator="assigned" primary-key="false" key="economySeats" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow63_1"> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn70_1"> 
                                                    <wm-form-field name="businessClassFare" displayname="Business Class Fare" required="true" show="true" generator="assigned" primary-key="false" key="businessClassFare" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn71_2"> 
                                                    <wm-form-field name="economyClassFare" displayname="Economy Class Fare" required="true" show="true" generator="assigned" primary-key="false" key="economyClassFare" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn72_2"> 
                                                    <wm-form-field name="firstClassFare" displayname="First Class Fare" required="true" show="true" generator="assigned" primary-key="false" key="firstClassFare" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow64_1"> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn73_2"> 
                                                    <wm-form-field name="airlines" displayname="Airlines" required="false" show="true" generator="assigned" primary-key="false" key="airlines" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn74_2"> 
                                                    <wm-form-field name="airportByDestinationAirport" displayname="Airport By Destination Airport" required="false" show="true" generator="assigned" primary-key="false" key="airportByDestinationAirport" type="list" is-related="true" maxchars="255" pc-display="true" mobile-display="true" widget="select"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn75_2"> 
                                                    <wm-form-field name="airportBySourceAirport" displayname="Airport By Source Airport" required="false" show="true" generator="assigned" primary-key="false" key="airportBySourceAirport" type="list" is-related="true" maxchars="255" pc-display="true" mobile-display="true" widget="select"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow65_1"> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn76_1"> 
                                                    <wm-form-field name="fareDetailsByFareDetails" displayname="Fare Details By Fare Details" required="false" show="true" generator="assigned" primary-key="false" key="fareDetailsByFareDetails" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn77"></wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn78"></wm-gridcolumn> 
                                            </wm-gridrow> 
                                        </wm-layoutgrid> 
                                        <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                        <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action> 
                                        <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action> 
                                    </wm-liveform> 
                                </wm-livegrid> 
                            </wm-tabpane> 
                            <wm-tabpane name="tabpane10_1" heading="Services"> 
                                <wm-livegrid formlayout="dialog" name="livegrid6" service="FDCallCenterDB@ServiceTable"> 
                                    <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="SERVICE LIST" dataset="bind:Variables.FDCallCenterDBServiceTableData.dataSet" name="grid6" class="panel-default"> 
                                        <wm-grid-column binding="id" caption="Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true"></wm-grid-column> 
                                        <wm-grid-column binding="charge" caption="Charge" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-grid-column> 
                                        <wm-grid-column binding="name" caption="Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column> 
                                        <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer"></wm-grid-action> 
                                    </wm-grid> 
                                    <wm-liveform novalidate="false" title="SERVICE INFO" formlayout="dialog" dataset="bind:Variables.FDCallCenterDBServiceTableData.dataSet" captionalign="left" captionposition="left" name="liveform6" class="panel-default"> 
                                        <wm-layoutgrid name="layoutgrid7"> 
                                            <wm-gridrow name="gridrow39"> 
                                                <wm-gridcolumn columnwidth="12" show="hide" name="gridcolumn39"> 
                                                    <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn40"> 
                                                    <wm-form-field name="charge" displayname="Charge" required="true" show="true" generator="assigned" primary-key="false" key="charge" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow40"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn41"> 
                                                    <wm-form-field name="name" displayname="Name" required="true" show="true" generator="assigned" primary-key="false" key="name" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow41"></wm-gridrow> 
                                        </wm-layoutgrid> 
                                        <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action> 
                                        <wm-form-action key="save" class="form-save btn-success" iconclass="glyphicon glyphicon-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action> 
                                    </wm-liveform> 
                                </wm-livegrid> 
                            </wm-tabpane> 
                            <wm-tabpane name="tabpane10_2" heading="FARE DETAILS"> 
                                <wm-livegrid formlayout="dialog" name="livegrid10_1" service="FDCallCenterDB@FareDetails"> 
                                    <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="FARE_DETAILS LIST" dataset="bind:Variables.FDCallCenterDBFareDetailsData.dataSet" name="grid10_1" class="panel-default"> 
                                        <wm-grid-column binding="id" caption="Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true"></wm-grid-column> 
                                        <wm-grid-column binding="economyKtpcChild" caption="Economy Ktpc Child" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-grid-column> 
                                        <wm-grid-column binding="economyKtpcAdult" caption="Economy Ktpc Adult" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-grid-column> 
                                        <wm-grid-column binding="economyQtpcChild" caption="Economy Qtpc Child" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-grid-column> 
                                        <wm-grid-column binding="economyQtpcAdult" caption="Economy Qtpc Adult" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-grid-column> 
                                        <wm-grid-column binding="fuel" caption="Fuel" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-grid-column> 
                                        <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer"></wm-grid-action> 
                                    </wm-grid> 
                                    <wm-liveform novalidate="false" title="FARE_DETAILS INFO" formlayout="dialog" dataset="bind:Variables.FDCallCenterDBFareDetailsData.dataSet" captionalign="left" captionposition="left" name="liveform10_1" class="panel-default"> 
                                        <wm-layoutgrid name="layoutgrid11_1"> 
                                            <wm-gridrow name="gridrow70_1"> 
                                                <wm-gridcolumn columnwidth="12" show="hide" name="gridcolumn71_1"> 
                                                    <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn72_1"> 
                                                    <wm-form-field name="economyKtpcChild" displayname="Economy Ktpc Child" required="false" show="true" generator="assigned" primary-key="false" key="economyKtpcChild" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow71_1"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn73_1"> 
                                                    <wm-form-field name="economyKtpcAdult" displayname="Economy Ktpc Adult" required="false" show="true" generator="assigned" primary-key="false" key="economyKtpcAdult" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow72_1"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn74_1"> 
                                                    <wm-form-field name="economyQtpcChild" displayname="Economy Qtpc Child" required="false" show="true" generator="assigned" primary-key="false" key="economyQtpcChild" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow73_1"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn75_1"> 
                                                    <wm-form-field name="economyQtpcAdult" displayname="Economy Qtpc Adult" required="false" show="true" generator="assigned" primary-key="false" key="economyQtpcAdult" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow74_1"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn76"> 
                                                    <wm-form-field name="fuel" displayname="Fuel" required="false" show="true" generator="assigned" primary-key="false" key="fuel" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow75"></wm-gridrow> 
                                        </wm-layoutgrid> 
                                        <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action> 
                                        <wm-form-action key="save" class="form-save btn-success" iconclass="glyphicon glyphicon-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action> 
                                    </wm-liveform> 
                                </wm-livegrid> 
                            </wm-tabpane> 
                        </wm-tabs> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow5"> 
                    <wm-gridcolumn colwidth="12" name="gridcolumn11"></wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow6"> 
                    <wm-gridcolumn colwidth="12" name="gridcolumn12"></wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow7"> 
                    <wm-gridcolumn colwidth="12" name="gridcolumn13"> 
                        <wm-tabs name="tabs2"> 
                            <wm-tabpane name="tabpane6" heading="Passenger" isdefaulttab="true"> 
                                <wm-livegrid formlayout="dialog" name="livegrid5" service="FDCallCenterDB@Passenger"> 
                                    <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="PASSENGER LIST" dataset="bind:Variables.FDCallCenterDBPassengerData.dataSet" name="grid5" class="panel-default"> 
                                        <wm-grid-column binding="id" caption="Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true"></wm-grid-column> 
                                        <wm-grid-column binding="address" caption="Address" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column> 
                                        <wm-grid-column binding="age" caption="Age" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-grid-column> 
                                        <wm-grid-column binding="country" caption="Country" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column> 
                                        <wm-grid-column binding="email" caption="Email" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column> 
                                        <wm-grid-column binding="firstName" caption="First Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column> 
                                        <wm-grid-column binding="frequentFlyerNumber" caption="Frequent Flyer Number" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column> 
                                        <wm-grid-column binding="gender" caption="Gender" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column> 
                                        <wm-grid-column binding="lastName" caption="Last Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column> 
                                        <wm-grid-column binding="middleName" caption="Middle Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column> 
                                        <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer"></wm-grid-action> 
                                    </wm-grid> 
                                    <wm-liveform novalidate="false" title="PASSENGER INFO" formlayout="dialog" dataset="bind:Variables.FDCallCenterDBPassengerData.dataSet" captionalign="left" captionposition="left" name="liveform5" class="panel-default"> 
                                        <wm-layoutgrid name="layoutgrid6"> 
                                            <wm-gridrow name="gridrow27"> 
                                                <wm-gridcolumn columnwidth="12" show="hide" name="gridcolumn27"> 
                                                    <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn28"> 
                                                    <wm-form-field name="address" displayname="Address" required="false" show="true" generator="assigned" primary-key="false" key="address" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow28"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn29"> 
                                                    <wm-form-field name="age" displayname="Age" required="true" show="true" generator="assigned" primary-key="false" key="age" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow29"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn30"> 
                                                    <wm-form-field name="country" displayname="Country" required="false" show="true" generator="assigned" primary-key="false" key="country" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow30"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn31"> 
                                                    <wm-form-field name="email" displayname="Email" required="true" show="true" generator="assigned" primary-key="false" key="email" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow31"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn32"> 
                                                    <wm-form-field name="firstName" displayname="First Name" required="true" show="true" generator="assigned" primary-key="false" key="firstName" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow32"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn33"> 
                                                    <wm-form-field name="frequentFlyerNumber" displayname="Frequent Flyer Number" required="false" show="true" generator="assigned" primary-key="false" key="frequentFlyerNumber" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow33"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn34"> 
                                                    <wm-form-field name="gender" displayname="Gender" required="true" show="true" generator="assigned" primary-key="false" key="gender" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow34"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn35"> 
                                                    <wm-form-field name="lastName" displayname="Last Name" required="false" show="true" generator="assigned" primary-key="false" key="lastName" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow35"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn36"> 
                                                    <wm-form-field name="middleName" displayname="Middle Name" required="false" show="true" generator="assigned" primary-key="false" key="middleName" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow36"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn37"> 
                                                    <wm-form-field name="phone" displayname="Phone" required="true" show="true" generator="assigned" primary-key="false" key="phone" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow37"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn38"> 
                                                    <wm-form-field name="title" displayname="Title" required="false" show="true" generator="assigned" primary-key="false" key="title" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow38"></wm-gridrow> 
                                        </wm-layoutgrid> 
                                        <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action> 
                                        <wm-form-action key="save" class="form-save btn-success" iconclass="glyphicon glyphicon-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action> 
                                    </wm-liveform> 
                                </wm-livegrid> 
                            </wm-tabpane> 
                            <wm-tabpane name="tabpane8" heading="Booking"> 
                                <wm-livegrid formlayout="dialog" name="livegrid10" service="FDCallCenterDB@Booking"> 
                                    <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="BOOKING LIST" dataset="bind:Variables.FDCallCenterDBBookingData.dataSet" name="grid10" class="panel-default"> 
                                        <wm-grid-column binding="id" caption="Id" type="integer" primary-key="true" generator="identity" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                                        <wm-grid-column binding="pnr" caption="Pnr" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column> 
                                        <wm-grid-column binding="primaryPassengerId" caption="Primary Passenger Id" type="integer" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column> 
                                        <wm-grid-column binding="bookingDate" caption="Booking Date" type="date" generator="assigned" search-placeholder="Enter date in yyyy-mm-dd" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column> 
                                        <wm-grid-column binding="classType" caption="Class Type" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column> 
                                        <wm-grid-column binding="comments" caption="Comments" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column> 
                                        <wm-grid-column binding="totalPassengers" caption="Total Passengers" type="integer" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column> 
                                        <wm-grid-column binding="totalQuote" caption="Total Quote" type="integer" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column> 
                                        <wm-grid-column binding="tripType" caption="Trip Type" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column> 
                                        <wm-grid-column binding="flightByFroFlightId.id" caption="Flight By Fro Flight Id Id" type="integer" primary-key="true" generator="identity" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column> 
                                        <wm-grid-column binding="toFare" caption="To Fare" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="undefined"></wm-grid-column> 
                                        <wm-grid-column binding="froFare" caption="Fro Fare" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="undefined"></wm-grid-column> 
                                        <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="glyphicon glyphicon-plus" title="New" action="addNewRow()" position="footer"></wm-grid-action> 
                                    </wm-grid> 
                                    <wm-liveform novalidate="false" title="BOOKING INFO" formlayout="dialog" dataset="bind:Variables.FDCallCenterDBBookingData.dataSet" captionalign="left" captionposition="left" name="liveform10" class="panel-default"> 
                                        <wm-layoutgrid name="layoutgrid11"> 
                                            <wm-gridrow name="gridrow63"> 
                                                <wm-gridcolumn columnwidth="12" show="hide" name="gridcolumn64"> 
                                                    <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn65"> 
                                                    <wm-form-field name="pnr" displayname="Pnr" required="false" show="true" generator="assigned" primary-key="false" key="pnr" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow64"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn66"> 
                                                    <wm-form-field name="primaryPassengerId" displayname="Primary Passenger Id" required="false" show="true" generator="assigned" primary-key="false" key="primaryPassengerId" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow65"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn67"> 
                                                    <wm-form-field name="bookingDate" displayname="Booking Date" required="false" show="true" generator="assigned" primary-key="false" key="bookingDate" type="date" is-related="false" pc-display="true" mobile-display="true" widget="date"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow66"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn68"> 
                                                    <wm-form-field name="classType" displayname="Class Type" required="true" show="true" generator="assigned" primary-key="false" key="classType" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow67"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn69"> 
                                                    <wm-form-field name="comments" displayname="Comments" required="false" show="true" generator="assigned" primary-key="false" key="comments" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow68"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn70"> 
                                                    <wm-form-field name="totalPassengers" displayname="Total Passengers" required="true" show="true" generator="assigned" primary-key="false" key="totalPassengers" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow69"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn71"> 
                                                    <wm-form-field name="totalQuote" displayname="Total Quote" required="true" show="true" generator="assigned" primary-key="false" key="totalQuote" type="integer" is-related="false" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow70"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn72"> 
                                                    <wm-form-field name="tripType" displayname="Trip Type" required="true" show="true" generator="assigned" primary-key="false" key="tripType" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow71"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn73"> 
                                                    <wm-form-field name="flightByFroFlightId" displayname="Flight By Fro Flight Id" required="false" show="true" generator="assigned" primary-key="false" key="flightByFroFlightId" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow72"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn74"> 
                                                    <wm-form-field name="flightByToFlightId" displayname="Flight By To Flight Id" required="false" show="true" generator="assigned" primary-key="false" key="flightByToFlightId" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow73"> 
                                                <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn75"> 
                                                    <wm-form-field name="serviceTable" displayname="Service Table" required="false" show="true" generator="assigned" primary-key="false" key="serviceTable" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow74"></wm-gridrow> 
                                        </wm-layoutgrid> 
                                        <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action> 
                                        <wm-form-action key="save" class="form-save btn-success" iconclass="glyphicon glyphicon-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action> 
                                    </wm-liveform> 
                                </wm-livegrid> 
                            </wm-tabpane> 
                        </wm-tabs> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow8"> 
                    <wm-gridcolumn colwidth="12" name="gridcolumn14"></wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow9"> 
                    <wm-gridcolumn colwidth="12" name="gridcolumn15"></wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow10"> 
                    <wm-gridcolumn colwidth="12" name="gridcolumn16"></wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow11"> 
                    <wm-gridcolumn colwidth="12" name="gridcolumn17"></wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow12"> 
                    <wm-gridcolumn colwidth="12" name="gridcolumn18"></wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer content="footer" name="footer1"></wm-footer> 
</wm-page>