<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="mainContent" backgroundcolor="#f3f3f3">
            <wm-layoutgrid name="layoutgrid1" columns="1">
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn colwidth="12" name="gridcolumn10" columnwidth="6" padding="unset .25em unset unset">
                        <wm-container name="container19" backgroundcolor="#ffffff" padding="1em 1em 2em 1em" height="400" overflow="auto">
                            <wm-layoutgrid name="layoutgrid2" columns="1" margin="1em unset" padding="unset 0.5em unset 1em">
                                <wm-gridrow name="gridrow16">
                                    <wm-gridcolumn colwidth="12" name="gridcolumn29" columnwidth="8" fontsize="1.1" fontunit="em" fontweight="bold">
                                        <wm-container name="container35" bordercolor="#0FB3AE" borderstyle="solid" borderwidth="0px" width="80%" height="auto">
                                            <wm-radioset name="selected_trip" layout="inline" dataset="One Way,Round Trip" usekeys="false" selectedvalue="One Way" on-click="selected_tripClick($event, $scope)" on-change="Variables.get_return_flights_between_dates.invoke()"
                                            class="radioTop"></wm-radioset>
                                        </wm-container>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn36">
                                        <wm-label caption="PASSENGER" fontweight="bold" class="h4" name="label24"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow25" padding="unset unset 1em unset">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn38" padding="1.7em unset unset unset">
                                        <wm-select name="fromAirport" dataset="bind:Variables.FDCallCenterDBAirportData.dataSet" datafield="code" displayexpression="bind:$[data[$i].code]+'-'+$[data[$i].name]" datavalue="SFO" width="95%" fontsize="1.1" fontunit="em"
                                        height="40px" on-change="fromAirportChange($event, $scope)"></wm-select>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn40" padding="1.7em unset unset unset">
                                        <wm-select dataset="bind:Variables.FDCallCenterDBAirportData.dataSet" datafield="code" displayexpression="bind:$[data[$i].code]+'-'+$[data[$i].name]" name="toAirport" datavalue="LHR" width="95%" fontsize="1.1" fontunit="em"
                                        height="40px" on-change="toAirportChange($event, $scope)"></wm-select>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn45_1">
                                        <wm-layoutgrid name="layoutgrid6">
                                            <wm-gridrow name="gridrow22_2">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn46_2">
                                                    <wm-label name="label27_1" caption="Adult" fontunit="em" color="#333" class="p" textalign="left" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn48">
                                                    <wm-label name="label30" caption="Child" fontunit="em" color="#333" class="p" textalign="left" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn57_1">
                                                    <wm-label name="label31" caption="Infant" color="#333" class="p" textalign="left" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow23">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn49">
                                                    <wm-text maxvalue="9" minvalue="1" name="adult_count_textbox" type="number" width="90%" datavalue="1" updateon="default" on-click="adult_count_textboxClick($event, $scope)" fontsize="1.1" fontunit="em" height="40px"></wm-text>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn50">
                                                    <wm-text maxvalue="bind:Widgets.adult_count.caption | toNumber" minvalue="0" name="child_count_textbox" type="number" width="90%" datavalue="0" updateon="default" on-click="child_count_textboxClick($event, $scope)"
                                                    fontsize="1.1" fontunit="em" height="40px"></wm-text>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn51">
                                                    <wm-text maxvalue="bind:Widgets.adult_count.caption | toNumber" minvalue="0" name="infant__count_textbox" type="number" width="90%" datavalue="0" updateon="default" on-click="infant__count_textboxClick($event, $scope)"
                                                    fontsize="1.1" fontunit="em" height="40px"></wm-text>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow20" padding="1em unset unset unset">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn37">
                                        <wm-label name="label25" caption="DATES" class="h4" fontweight="bold" padding="unset unset unset 1em"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn38_1"></wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn47">
                                        <wm-label caption="CURRENCY" fontweight="bold" class="h4" name="label27"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow26" paddingunit="em">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn41">
                                        <wm-composite name="composite1">
                                            <wm-container class="col-md-9 input-date-picker" name="container8_1">
                                                <wm-text name="toJourneyDt" class="datepickerinput-to" updateon="default" datavalue="bind:Variables.current_date.dataSet.dataValue | toDate: 'yyyy-MM-dd'" on-change="toJourneyDtChange($event, $scope);toJourneyDtChange1($event, $scope)"
                                                readonly="false" on-click="toJourneyDtClick($event, $scope)" fontsize="1.1" fontunit="em" height="40px"></wm-text>
                                                <wm-icon name="icon2" iconclass="fa fa-calendar fa-2x" class="input-date-picker-icon"></wm-icon>
                                            </wm-container>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn14">
                                        <wm-composite name="composite2">
                                            <wm-container class="col-md-9 input-date-picker" name="container9">
                                                <wm-text name="froJourneyDt" class="datepickerinput-fro" updateon="default" placeholder="Select return date" show="bind:Widgets.selected_trip.datavalue=='Round Trip'" datavalue="bind:Widgets.toJourneyDt.datavalue"
                                                fontsize="1.1" fontunit="em" height="40px" on-change="froJourneyDtChange($event, $scope)"></wm-text>
                                                <wm-icon name="icon2" iconclass="fa fa-calendar fa-2x" class="input-date-picker-icon" show="bind:Widgets.selected_trip.datavalue=='Round Trip'"></wm-icon>
                                            </wm-container>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn11">
                                        <wm-select dataset="INR, USD" placeholder="" name="selectCurrency" datavalue="INR" fontsize="1.1" fontunit="em" height="40px" width="75px" margin="unset 1em unset unset" on-change="selectCurrencyChange($event, $scope)"></wm-select>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow21" padding="1em unset unset unset">
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn39">
                                        <wm-label caption="CLASS" fontweight="bold" class="h4" name="label26" padding="unset unset unset 1em"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow22_1">
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn43_1">
                                        <wm-select on-click="selected_classClick($event, $scope)" name="selected_class" placeholder="" dataset="Economy,Business,First" datavalue="Economy" fontsize="1.1" fontunit="em" height="40px"></wm-select>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-container>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn19" padding="unset 1em unset .25em">
                        <wm-container name="container20" backgroundcolor="#ffffff" padding="1em 1em unset 1em" height="400" overflow="auto">
                            <wm-layoutgrid name="layoutgrid8" margin="0em 1em unset 1em">
                                <wm-gridrow name="gridrow58">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn166">
                                        <wm-container name="container8">
                                            <wm-gridrow name="gridrow28" padding="unset unset unset 1em">
                                                <wm-gridcolumn columnwidth="5" name="gridcolumn67">
                                                    <wm-label name="label46" caption="bind:Widgets.selected_trip.datavalue" fontweight="bold" class="h4" margin="0px unset unset unset"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="7" name="gridcolumn81">
                                                    <wm-container name="container2_1">
                                                        <wm-container name="container2" width="32%" horizontalalign="center" backgroundcolor="#e9e8f8" display="inline-block" padding=".5em unset" margin="unset 2% unset unset">
                                                            <wm-label name="label50" caption="ADULT" width="100%"></wm-label>
                                                            <wm-label name="adultNo" caption="bind:Widgets.adult_count_textbox.datavalue" class="h2" fontweight="bold" color="#000000" margin="0px unset unset unset"></wm-label>
                                                        </wm-container>
                                                        <wm-container name="container3" horizontalalign="center" backgroundcolor="#e9e8f8" width="32%" display="inline-block" margin="unset 2% unset unset" padding=".5em unset">
                                                            <wm-label name="label64" caption="CHILD" width="100%"></wm-label>
                                                            <wm-label caption="bind:Widgets.child_count_textbox.datavalue" width="100%" name="childNo" class="h2" color="#000000" fontweight="bold" margin="0px unset unset unset"></wm-label>
                                                        </wm-container>
                                                        <wm-container name="container4" horizontalalign="center" backgroundcolor="#e9e8f8" width="32%" display="inline-block" padding=".5em unset">
                                                            <wm-label name="label65" caption="INFANT" width="100%"></wm-label>
                                                            <wm-label caption="bind:Widgets.infant__count_textbox.datavalue" width="100%" name="infantNo" class="h2" color="#000000" fontweight="bold" margin="0px unset unset unset"></wm-label>
                                                        </wm-container>
                                                    </wm-container>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow29" padding="unset 1em">
                                                <wm-gridcolumn columnwidth="12" name="gridcolumn70">
                                                    <wm-label caption="bind:Variables.current_date.dataSet.dataValue | toDate: 'yyyy, dd MMMM'" fontunit="em" margin="0px unset unset unset" name="label171" class="pull-right"></wm-label>
                                                    <wm-label name="label48" caption="Booking Date :" margin="unset 0.5em unset unset" fontweight="bold" class="pull-right"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow57" backgroundcolor="#2B333A" padding=".5em unset unset unset">
                                                <wm-gridcolumn columnwidth="12" name="gridcolumn162">
                                                    <wm-container name="container25" class="media">
                                                        <wm-container name="container23" class="media-left" horizontalalign="left" padding="unset unset unset 1em">
                                                            <wm-label name="label69" caption="bind:Widgets.fromAirport.datavalue" class="h2" color="#fff" fontweight="bold" margin="0px unset"></wm-label>
                                                            <wm-label name="label116" caption="FROM" class="h6" margin="0px unset unset unset" color="#ccc" textalign="center"></wm-label>
                                                        </wm-container>
                                                        <wm-container name="container26" class="media-body" horizontalalign="center">
                                                            <wm-picture name="picture4" picturesource="resources/images/imagelists/aeroplane-new.png" width="20%" height="75%" pictureaspect="None"></wm-picture>
                                                        </wm-container>
                                                        <wm-container name="container24" class="media-right" horizontalalign="left" padding="unset 1em unset unset">
                                                            <wm-label name="label70" caption="bind:Widgets.toAirport.datavalue" class="h2" color="#fff" fontweight="bold" margin="0px unset"></wm-label>
                                                            <wm-label caption="TO" name="label117" class="h6" margin="0px unset unset unset" color="#ccc" textalign="center"></wm-label>
                                                        </wm-container>
                                                    </wm-container>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow83">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn165_2">
                                        <wm-container name="fromContainer">
                                            <wm-layoutgrid name="layoutgrid19">
                                                <wm-gridrow name="row1" backgroundcolor="#eee" padding=".5em 1em unset 1em">
                                                    <wm-gridcolumn columnwidth="3" name="gridcolumn88">
                                                        <wm-label name="label71" color="#000000" fontweight="bold" caption="bind:Widgets.to_flight_livelist.selecteditem.number || Widgets.to_flight_livelist.selecteditem[0].number"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn89">
                                                        <wm-label name="label73" color="#000000" fontweight="bold" caption="bind:(Widgets.to_flight_livelist.selecteditem.departureTime | toDate: 'hh:mm a')|| Widgets.to_flight_livelist.selecteditem[0].departureTime | toDate: 'hh:mm a'"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="3" name="gridcolumn90">
                                                        <wm-label name="label74" color="#000000" fontweight="bold" caption="bind:Widgets.to_flight_livelist.selecteditem.travelDuration || Widgets.to_flight_livelist.selecteditem[0].travelDuration"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn92">
                                                        <wm-label name="label75" color="#000000" fontweight="bold" caption="bind:(Widgets.to_flight_livelist.selecteditem.arrivalTime| toDate: 'hh:mm a') || Widgets.to_flight_livelist.selecteditem[0].arrivalTime| toDate: 'hh:mm a'"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn93" padding="unset unset unset 1em">
                                                        <wm-label name="label76" color="#000000" fontweight="bold" caption="Price"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow34" padding=".5em 1em unset 1em">
                                                    <wm-gridcolumn columnwidth="3" name="gridcolumn94">
                                                        <wm-label name="label72" caption="bind:toClass"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn95">
                                                        <wm-label name="label77" caption="bind:Widgets.to_flight_livelist.selecteditem[0].airportBySourceAirport.code  || Widgets.to_flight_livelist.selecteditem.airportBySourceAirport.code"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="3" name="gridcolumn96">
                                                        <wm-label name="label78" caption="NON-STOP"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn99">
                                                        <wm-label name="label79" caption="bind:Widgets.to_flight_livelist.selecteditem.airportByDestinationAirport.code || Widgets.to_flight_livelist.selecteditem[0].airportByDestinationAirport.code"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn100">
                                                        <wm-label name="towardsFareLabel" padding="unset .5em" backgroundcolor="#91c5a2" color="#fff" caption="bind:Variables.towardsFare.dataSet.dataValue"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow87">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn179">
                                        <wm-container name="returnContainer" show="bind:Widgets.selected_trip.datavalue=='Round Trip'">
                                            <wm-layoutgrid name="layoutgrid20">
                                                <wm-gridrow name="row2" backgroundcolor="#eee" padding=".5em 1em unset 1em">
                                                    <wm-gridrow name="gridrow40">
                                                        <wm-gridcolumn columnwidth="3" name="gridcolumn126">
                                                            <wm-label color="#000000" fontweight="bold" caption="bind:Widgets.return_flight_livelist.selecteditem[0].number || Widgets.return_flight_livelist.selecteditem.number" name="label102"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="2" name="gridcolumn127">
                                                            <wm-label color="#000000" fontweight="bold" caption="bind:(Widgets.return_flight_livelist.selecteditem[0].departureTime || Widgets.return_flight_livelist.selecteditem.departureTime) | toDate: 'hh:mm a'"
                                                            name="label103"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="3" name="gridcolumn128">
                                                            <wm-label color="#000000" fontweight="bold" caption="bind:Widgets.return_flight_livelist.selecteditem[0].travelDuration || Widgets.return_flight_livelist.selecteditem.travelDuration" name="label104"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="2" name="gridcolumn129">
                                                            <wm-label color="#000000" fontweight="bold" caption="bind:(Widgets.return_flight_livelist.selecteditem[0].arrivalTime || Widgets.return_flight_livelist.selecteditem.arrivalTime| toDate: 'hh:mm a')| toDate: 'hh:mm a'"
                                                            name="label105"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="2" name="gridcolumn130" padding="unset unset unset 1em">
                                                            <wm-label color="#000000" fontweight="bold" caption="Price" name="label106"></wm-label>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow41" padding=".5em 1em unset 1em">
                                                    <wm-gridrow name="gridrow42">
                                                        <wm-gridcolumn columnwidth="3" name="gridcolumn131">
                                                            <wm-label caption="bind:froClass" name="label107"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="2" name="gridcolumn132">
                                                            <wm-label caption="bind:Widgets.return_flight_livelist.selecteditem[0].airportBySourceAirport.code || Widgets.return_flight_livelist.selecteditem.airportBySourceAirport.code" name="label108"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="3" name="gridcolumn133">
                                                            <wm-label caption="NON-STOP" name="label109"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="2" name="gridcolumn134">
                                                            <wm-label caption="bind:Widgets.return_flight_livelist.selecteditem[0].airportByDestinationAirport.code || Widgets.return_flight_livelist.selecteditem.airportByDestinationAirport.code" name="label110"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="2" name="gridcolumn135">
                                                            <wm-label padding="unset .5em" backgroundcolor="#91c5a2" color="#fff" caption="bind:Variables.returnFare.dataSet.dataValue" name="returnFareLabel"></wm-label>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow56" borderstyle="groove" borderwidth="1px 0px 0px 0px">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn156" horizontalalign="right" padding="unset 1em unset unset">
                                        <wm-label name="label114" caption="TOTAL QUOTE" fontweight="bold" fontsize="1.2" fontunit="em" margin="unset unset 0px unset"></wm-label>
                                        <wm-label name="label115" caption="bind:Variables.totalFare.dataSet.dataValue" fontweight="bold" margin="unset unset 0em 1em" fontsize="1.2" fontunit="em"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow43">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn136">
                                        <wm-container name="container5" padding="1em unset" backgroundcolor="#E9E8F8">
                                            <wm-layoutgrid name="layoutgrid10" columns="1">
                                                <wm-gridrow name="gridrow55">
                                                    <wm-gridcolumn colwidth="12" name="gridcolumn154" columnwidth="6" padding="unset unset unset 1em">
                                                        <wm-popover popoverwidth="45em" content="Quote_Details" color="#282828" popoverarrow="false" iconclass="glyphicon glyphicon-chevron-down fa-lg" caption="Show Details" padding="1em unset" name="popover12"></wm-popover>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn155">
                                                        <wm-button disabled="bind:!((Widgets.to_flight_livelist.selecteditem.length == undefined ) &amp;&amp; ( Widgets.adult_count.caption > 0 || Widgets.child_count.caption > 0 || Widgets.infant_count.caption > 0 ))"
                                                        class="pull-right btn-default" caption="BOOK" type="button" on-click="buttonBookClick($event, $scope)" padding="1em 2em" name="buttonBook" margin="unset 1em unset unset"></wm-button>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow26_1" height="25px">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn46"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow82_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn165_1">
                        <wm-container name="containerFlights" show="bind:false">
                            <wm-layoutgrid name="layoutgrid18">
                                <wm-gridrow name="gridrow5">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn12" padding="unset .25em unset unset">
                                        <wm-container name="container29" bordercolor="#ccc" borderstyle="solid" borderwidth="1px">
                                            <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" dataset="bind:Variables.get_flights_between_dates.dataSet" name="to_dates_livelist" itemsperrow="4" selectfirstitem="true" navigation="Inline"
                                            class="inline-livelist dates" on-click="to_dates_livelistClick($event, $scope)" margin="unset 0.5em unset unset" nodatamessage="No Flights Are Available" padding=".3em unset unset unset" backgroundcolor="#ffffff"
                                            loadingdatamsg="Please wait for fetching available flights......">
                                                <wm-listtemplate layout="blank" name="listtemplate1">
                                                    <wm-container name="container27" padding="1em unset unset unset">
                                                        <wm-layoutgrid name="layoutgrid4" columns="1" borderstyle="none">
                                                            <wm-gridrow name="gridrow22">
                                                                <wm-gridcolumn colwidth="12" name="gridcolumn41_1">
                                                                    <wm-label name="label4" caption="bind:Variables.get_flights_between_dates.dataSet[$i].DEPARTURE_DATE | toDate: 'dd MMM'" textalign="center" fontweight="bold"></wm-label>
                                                                    <wm-label name="label5" class="pull-right" caption="bind:Variables.get_flights_between_dates.dataSet[$i].dayname" textalign="center"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                            <wm-gridrow name="gridrow25_1">
                                                                <wm-gridcolumn colwidth="12" name="gridcolumn44_1" horizontalalign="center">
                                                                    <wm-label name="label8" caption="bind:(Widgets.selectCurrency.datavalue==&quot;INR&quot;)?(Variables.get_flights_between_dates.dataSet[$i].MIMIMUM_FARE+&quot; INR&quot;):((Variables.get_flights_between_dates.dataSet[$i].MIMIMUM_FARE/66 | toNumber: '1') +&quot; USD&quot;)"
                                                                    fontweight="bold" textalign="center" class="h4" margin="0px unset"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                        </wm-layoutgrid>
                                                    </wm-container>
                                                </wm-listtemplate>
                                            </wm-livelist>
                                        </wm-container>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn13" padding="unset unset unset .25em">
                                        <wm-container name="container30" bordercolor="#ccc" borderstyle="solid" borderwidth="1px" show="bind:Widgets.selected_trip.datavalue=='Round Trip'">
                                            <wm-livelist show="bind:Widgets.selected_trip.datavalue=='Round Trip'" listclass="list-group" itemclass="list-group-item" template="true" dataset="bind:Variables.get_return_flights_between_dates.dataSet" itemsperrow="4"
                                            selectfirstitem="true" navigation="Inline" name="return_dates_livelist" class="inline-livelist dates" margin="unset unset unset 0.5em" padding=".3em unset unset unset" backgroundcolor="#ffffff" loadingdatamsg="Please wait for fetching available flights......"
                                            nodatamessage="No Flights Are Available">
                                                <wm-listtemplate layout="blank" name="listtemplate3">
                                                    <wm-container name="container28" padding="1em unset unset unset">
                                                        <wm-layoutgrid columns="1" name="layoutgrid9" show="true">
                                                            <wm-gridrow name="gridrow34_2">
                                                                <wm-gridcolumn colwidth="12" name="gridcolumn82_1">
                                                                    <wm-label caption="bind:Variables.get_return_flights_between_dates.dataSet[$i].DEPARTURE_DATE | toDate: 'dd MMM'" name="label64_1" textalign="center" fontweight="bold"></wm-label>
                                                                    <wm-label class="pull-right" caption="bind:Variables.get_return_flights_between_dates.dataSet[$i].dayname" name="label65_1" textalign="center"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                            <wm-gridrow name="gridrow35">
                                                                <wm-gridcolumn colwidth="12" horizontalalign="center" name="gridcolumn83_1">
                                                                    <wm-label caption="bind:(Widgets.selectCurrency.datavalue==&quot;INR&quot;)?(Variables.get_return_flights_between_dates.dataSet[$i].MIMIMUM_FARE+&quot; INR&quot;):((Variables.get_return_flights_between_dates.dataSet[$i].MIMIMUM_FARE/66 | toNumber: '1') +&quot; USD&quot;)"
                                                                    fontweight="bold" textalign="center" name="label66" class="h4" margin="0px unset"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                        </wm-layoutgrid>
                                                    </wm-container>
                                                </wm-listtemplate>
                                            </wm-livelist>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow14" paddingunit="em">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumnoneway" padding="unset .3em unset unset">
                                        <wm-container name="container6" backgroundimage="resources/images/imagelists/stripe_ccd967178f890832504313bd31405252.gif" margin="unset 0.5em unset unset" show="false">
                                            <wm-picture name="picture3" picturesource="resources/images/imagelists/flightdeparture_icon.png"></wm-picture>
                                        </wm-container>
                                        <wm-container backgroundcolor="#0fb3ae" name="container123" padding="1em" color="#ffffff">
                                            <wm-container name="flight_container-left" width="75%" display="inline-block" color="#ffffff">
                                                <wm-label name="label6" caption="bind:Widgets.fromAirport.datavalue +' - '+Widgets.toAirport.datavalue" fontweight="bold" margin="unset 1em unset unset"></wm-label>
                                                <wm-picture name="picgo" picturesource="resources/images/imagelists/flightdeparture_icon.png"></wm-picture>
                                                <wm-label name="label8_1" caption="bind:'TOWARDS'+' '" fontweight="bold" margin="unset unset unset 1em"></wm-label>
                                                <wm-label name="label8_2" caption="bind: Widgets.to_dates_livelist.selecteditem.dayname+', '+(Widgets.to_dates_livelist.selecteditem.DEPARTURE_DATE | toDate: 'dd MMM')" margin="unset unset unset 1em"></wm-label>
                                                <wm-label name="label178_1" class="pull-right" caption="bind:Widgets.to_flight_livelist.selecteditem.airlines"></wm-label>
                                            </wm-container>
                                            <wm-container name="flight_container-right" width="25%" display="inline-block" horizontalalign="right" color="#ffffff">
                                                <wm-label caption="OPTIONS:" name="label129_1" margin="unset unset unset 1em"></wm-label>
                                                <wm-label caption="bind:Variables.get_flights.dataSet.data.length" name="label91" margin="unset unset unset .5em"></wm-label>
                                            </wm-container>
                                        </wm-container>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumnroundtrip" padding="unset unset unset .3em">
                                        <wm-container name="container6" backgroundcolor="#0fb3ae" margin="unset 0.5em unset unset" show="false">
                                            <wm-picture name="picture3" picturesource="resources/images/imagelists/flightdeparture_icon.png"></wm-picture>
                                        </wm-container>
                                        <wm-container show="bind:Widgets.selected_trip.datavalue=='Round Trip'" backgroundcolor="#0fb3ae" name="container7" padding="1em" color="#ffffff">
                                            <wm-container name="flight_container-left" width="75%" display="inline-block" color="#ffffff">
                                                <wm-label caption="bind:Widgets.toAirport.datavalue +' - '+Widgets.fromAirport.datavalue" fontweight="bold" name="label84" margin="unset 1em unset unset"></wm-label>
                                                <wm-picture name="picReturn" picturesource="resources/images/imagelists/flightreturn_icon.png"></wm-picture>
                                                <wm-label class="text-uppercase" caption="bind:'Return'+' '" fontweight="bold" name="label85" margin="unset unset unset 1em"></wm-label>
                                                <wm-label caption="bind: Widgets.return_dates_livelist.selecteditem.dayname+', '+(Widgets.return_dates_livelist.selecteditem.DEPARTURE_DATE | toDate: 'dd MMM')" name="label86" margin="unset unset unset 1em"></wm-label>
                                                <wm-label class="pull-right" caption="bind:Widgets.return_flight_livelist.selecteditem.airlines" name="label178_2"></wm-label>
                                            </wm-container>
                                            <wm-container name="flight_container-right" width="25%" display="inline-block" horizontalalign="right" color="#ffffff">
                                                <wm-label caption="OPTIONS:" name="label130_2" margin="unset unset unset 1em"></wm-label>
                                                <wm-label caption="bind:Variables.get_return_flights.dataSet.data.length" name="label92" margin="unset unset unset .5em"></wm-label>
                                            </wm-container>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow15">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn25" padding="unset .25em unset unset">
                                        <wm-livelist on-click="to_flight_livelistClick($event, $scope)" listclass="list-group" template="true" dataset="bind:Variables.get_flights.dataSet" name="to_flight_livelist" navigation="None" selectfirstitem="true"
                                        selectionlimit="1" nodatamessage="No Tickets Are Available" itemclass="list-group-item" backgroundcolor="#ffffff">
                                            <wm-listtemplate layout="inline" name="listtemplate2">
                                                <wm-layoutgrid name="layoutgrid5_1" paddingunit="em">
                                                    <wm-gridrow name="gridrow16_1">
                                                        <wm-gridcolumn class="col-xs-9" name="gridcolumn28" padding="unset unset .2em unset">
                                                            <wm-gridcolumn columnwidth="4" data-template-ctr="true" name="gridcolumn29_1" padding="0em unset unset 0em">
                                                                <wm-layoutgrid name="layoutgrid14">
                                                                    <wm-gridrow name="gridrow61_1" padding=".5em unset">
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn125">
                                                                            <wm-label name="label127_1" caption="Flight" margin="unset unset 0px unset"></wm-label>
                                                                            <wm-label name="label170" caption=":" class="pull-right" padding="unset 1em unset unset"></wm-label>
                                                                        </wm-gridcolumn>
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn126_2">
                                                                            <wm-label name="label18" caption="bind:Variables.get_flights.dataSet.data[$i].number" fontweight="bold" margin="unset unset 0em unset"></wm-label>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                    <wm-gridrow name="gridrow60" padding="unset unset .5em unset">
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn133_2">
                                                                            <wm-label caption="Departs" name="label128_2" margin="unset unset 0em unset"></wm-label>
                                                                            <wm-label caption=":" class="pull-right" padding="unset 1em unset unset" name="label171_1"></wm-label>
                                                                        </wm-gridcolumn>
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn135_3">
                                                                            <wm-label name="Role" caption="bind:Variables.get_flights.dataSet.departureTime | toDate: 'hh:mm a'" fontweight="bold" margin="unset unset 0px unset"></wm-label>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                    <wm-gridrow name="gridrow76" padding="unset unset .5em unset">
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn166_1">
                                                                            <wm-label caption="Arrives" name="label129_2" margin="unset unset 0em unset"></wm-label>
                                                                            <wm-label caption=":" class="pull-right" padding="unset 1em unset unset" name="label172"></wm-label>
                                                                        </wm-gridcolumn>
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn167">
                                                                            <wm-label name="Department" caption="bind:Variables.get_flights.dataSet.data[$i].arrivalTime| toDate: 'hh:mm a'" fontweight="bold" margin="unset unset 0px unset"></wm-label>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                    <wm-gridrow name="gridrow77">
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn170">
                                                                            <wm-label name="label133_1" caption="Duration" margin="unset unset 0px unset"></wm-label>
                                                                            <wm-label caption=":" class="pull-right" padding="unset 1em unset unset" name="label173"></wm-label>
                                                                        </wm-gridcolumn>
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn171">
                                                                            <wm-label name="label134" caption="bind:Variables.get_flights.dataSet.data[$i].travelDuration" fontweight="bold" margin="unset unset 0px unset"></wm-label>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                    <wm-gridrow name="gridrow78" padding="1px unset">
                                                                        <wm-gridcolumn columnwidth="12" name="gridcolumn164">
                                                                            <wm-popover popoverwidth="450px" popoverheight="450px" name="popover2" class="btn-link" caption="Flight Details" popoverplacement="right" contentsource="partial" content="Flight_Details"
                                                                            margin="0px 0px unset 0px" iconclass="wi wi-info"></wm-popover>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                    <wm-gridrow name="gridrow52" padding="unset unset 1px unset">
                                                                        <wm-gridcolumn columnwidth="12" name="gridcolumn166_2">
                                                                            <wm-popover popoverwidth="350" name="popover7" caption="Q/QRTTPC" content="QRTTPC_DETAILS" contentsource="partial" class="btn-link" paddingunit="em" iconclass="wi wi-info"></wm-popover>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                    <wm-gridrow name="gridrow61">
                                                                        <wm-gridcolumn columnwidth="12" name="gridcolumn136_2" horizontalalign="left">
                                                                            <wm-label name="label14" caption="bind:'Available '+(Variables.get_flights.dataSet.data[$i].firstClassSeats+Variables.get_flights.dataSet.data[$i].economySeats+Variables.get_flights.dataSet.data[$i].businessClassSeats)"
                                                                            borderstyle="solid" borderwidth="1px" padding=".2em .5em" color="#fff" horizontalalign="left" backgroundcolor="#A1AAE8"></wm-label>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                </wm-layoutgrid>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="8" data-template-ctr="true" name="gridcolumn32" bordercolor="#ccc" borderstyle="solid" borderwidth="1px" backgroundcolor="#fbfbfb" height="185" padding="1px unset unset unset">
                                                                <wm-layoutgrid name="layoutgrid12">
                                                                    <wm-gridrow name="gridrow59">
                                                                        <wm-gridcolumn columnwidth="8" name="gridcolumn135_2" bordercolor="#ccc" borderstyle="solid" borderwidth="unset 1px 1px unset" padding="0.3em unset unset 1em">
                                                                            <wm-label name="label138" caption="bind:Variables.selectedCurrency.dataSet.dataValue" class="h4" margin="0px unset unset unset" horizontalalign="right" padding="unset 25% unset unset"></wm-label>
                                                                        </wm-gridcolumn>
                                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn125_3" bordercolor="#ccc" borderstyle="solid" borderwidth="unset 0px 1px unset" padding="0.3em unset unset 1em">
                                                                            <wm-label caption="Category" class="h4" name="label136" margin="0px unset unset unset"></wm-label>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                    <wm-gridrow name="gridrow56_2">
                                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn125_2" bordercolor="#ccc" borderstyle="solid" padding="unset unset unset .5em">
                                                                            <wm-popover popoverwidth="408px" name="popover3" width="100%" class="h5" caption="Pay to Change" contentsource="partial" content="Pay_to_Change" margin="1em unset unset unset" popoverplacement="top"
                                                                            iconclass="wi wi-info"></wm-popover>
                                                                            <wm-popover popoverwidth="408px" width="100%" name="popover6" class="h5" caption="Special Offer" content="SpecialOffer" margin="1em unset unset unset" popoverplacement="top"
                                                                            iconclass="wi wi-info"></wm-popover>
                                                                            <wm-popover popoverwidth="408px" width="100%" name="popover5" class="h5" caption="Free to Change" content="FreeToChange" margin="1em unset unset unset" popoverplacement="top"
                                                                            iconclass="wi wi-info"></wm-popover>
                                                                        </wm-gridcolumn>
                                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn126_1" bordercolor="#ccc" borderstyle="solid" borderwidth="unset 1px unset unset">
                                                                            <wm-radioset on-click="radioset3Click($event, $scope)" name="radioset3" datafield="All Fields" on-change="radioset3Change($event, $scope)" class="h4 strong" margin="0px unset unset unset"
                                                                            usekeys="false" dataset="bind:((Widgets.selectCurrency.datavalue==&quot;INR&quot;)?(Variables.get_flights.dataSet.economyClassFare):(Variables.get_flights.dataSet.economyClassFare/66  | toNumber: '1' ) )+ &quot;,&quot; + ((Widgets.selectCurrency.datavalue==&quot;INR&quot;)?Variables.get_flights.dataSet.businessClassFare:(Variables.get_flights.dataSet.businessClassFare/66  | toNumber: '1' ) )+ &quot;,&quot; + ((Widgets.selectCurrency.datavalue==&quot;INR&quot;)?Variables.get_flights.dataSet.firstClassFare:(Variables.get_flights.dataSet.firstClassFare/66  | toNumber: '1' ) )"></wm-radioset>
                                                                        </wm-gridcolumn>
                                                                        <wm-gridcolumn columnwidth="4" bordercolor="#ccc" borderstyle="solid" padding="unset unset unset .5em" name="gridcolumn167_1">
                                                                            <wm-popover popoverwidth="408px" width="100%" class="h5" caption="Economy" contentsource="partial" content="Pay_to_Change" margin="1em unset unset unset" popoverplacement="top" name="popover13"
                                                                            iconclass="wi wi-info"></wm-popover>
                                                                            <wm-popover popoverwidth="408px" width="100%" class="h5" caption="Bussiness" content="SpecialOffer" margin="1em unset unset unset" popoverplacement="top" name="popover14"
                                                                            iconclass="wi wi-info"></wm-popover>
                                                                            <wm-popover popoverwidth="408px" width="100%" class="h5" caption="First Class" content="FreeToChange" margin="1em unset unset unset" popoverplacement="top" name="popover15"
                                                                            iconclass="wi wi-info"></wm-popover>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                </wm-layoutgrid>
                                                            </wm-gridcolumn>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-listtemplate>
                                        </wm-livelist>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn26" padding="unset unset unset .25em">
                                        <wm-livelist show="bind:Widgets.selected_trip.datavalue=='Round Trip'" on-click="return_flight_livelistClick($event, $scope)" listclass="list-group" itemclass="list-group-item orange-left" template="true" dataset="bind:Variables.get_return_flights.dataSet"
                                        name="return_flight_livelist" navigation="None" selectfirstitem="true" backgroundcolor="#ffffff" nodatamessage="No Flights Are Available">
                                            <wm-listtemplate layout="inline" name="listtemplate4">
                                                <wm-layoutgrid class="inline" name="layoutgrid10_1">
                                                    <wm-gridrow name="gridrow36">
                                                        <wm-gridcolumn class="col-xs-9" name="gridcolumn85" padding="0px unset unset unset">
                                                            <wm-gridcolumn columnwidth="4" data-template-ctr="true" name="gridcolumn86_1" padding="0em unset">
                                                                <wm-container name="container15" show="false">
                                                                    <wm-label caption="Economy" show="bind:Widgets.selected_class.datavalue =='Economy'" name="label78_1"></wm-label>
                                                                    <wm-label caption="Business" show="bind:Widgets.selected_class.datavalue=='Business'" name="label79_1"></wm-label>
                                                                    <wm-label caption="First" show="bind:Widgets.selected_class.datavalue=='First'" name="label77_1"></wm-label>
                                                                    <wm-label caption="bind:Variables.get_return_flights.dataSet.data[$i].firstClassFare" show="bind:Widgets.selected_class.datavalue=='First'" name="label80_1"></wm-label>
                                                                    <wm-label caption="bind:Variables.get_return_flights.dataSet.data[$i].economyClassFare" show="bind:Widgets.selected_class.datavalue =='Economy'" name="label81"></wm-label>
                                                                    <wm-label caption="bind:Variables.get_return_flights.dataSet.data[$i].businessClassFare" show="bind:Widgets.selected_class.datavalue=='Business'" name="label82"></wm-label>
                                                                </wm-container>
                                                                <wm-layoutgrid columns="4" name="layoutgrid15">
                                                                    <wm-gridrow name="gridrow62" padding=".5em unset">
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn128_1">
                                                                            <wm-label name="label130_1" caption="Flight" margin="unset unset 0px unset"></wm-label>
                                                                            <wm-label caption=":" class="pull-right" padding="unset 1em unset unset" name="label174"></wm-label>
                                                                        </wm-gridcolumn>
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn129_2">
                                                                            <wm-label caption="bind:Variables.get_return_flights.dataSet.data[$i].number" fontweight="bold" name="label135" margin="unset unset 0em unset"></wm-label>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                    <wm-gridrow name="gridrow79" padding="unset unset .5em unset">
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn164_1">
                                                                            <wm-label name="label131_1" caption="Departs" margin="unset unset 0px unset"></wm-label>
                                                                            <wm-label caption=":" class="pull-right" padding="unset 1em unset unset" name="label175"></wm-label>
                                                                        </wm-gridcolumn>
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn165">
                                                                            <wm-label caption="bind:Variables.get_return_flights.dataSet.data[$i].departureTime| toDate: 'hh:mm a'" name="label137" fontweight="bold" margin="unset unset 0px unset"></wm-label>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                    <wm-gridrow name="gridrow80" padding="unset unset .5em unset">
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn168">
                                                                            <wm-label name="label132_1" caption="Arrvies" margin="unset unset 0px unset"></wm-label>
                                                                            <wm-label caption=":" class="pull-right" padding="unset 1em unset unset" name="label176"></wm-label>
                                                                        </wm-gridcolumn>
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn169">
                                                                            <wm-label caption="bind:Variables.get_return_flights.dataSet.data[$i].arrivalTime| toDate: 'hh:mm a'" name="label138_1" fontweight="bold" margin="unset unset 0em unset"></wm-label>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                    <wm-gridrow name="gridrow81" padding="unset unset .5em unset">
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn172">
                                                                            <wm-label name="label133_2" caption="Duration" margin="unset unset 0px unset"></wm-label>
                                                                            <wm-label caption=":" class="pull-right" padding="unset 1em unset unset" name="label177"></wm-label>
                                                                        </wm-gridcolumn>
                                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn173">
                                                                            <wm-label name="label134_1" caption="bind:Variables.get_return_flights.dataSet.data[$i].travelDuration" margin="unset unset 0px unset" fontweight="bold"></wm-label>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                    <wm-gridrow name="gridrow82" padding="1px unset">
                                                                        <wm-gridcolumn columnwidth="12" name="gridcolumn176" horizontalalign="left">
                                                                            <wm-popover popoverwidth="450px" popoverheight="360px" class="btn-link" caption="Flight Details" popoverplacement="right" contentsource="partial" name="popover2_1" margin="0px 0px unset 0px"
                                                                            content="Flight_Details" iconclass="wi wi-info"></wm-popover>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                    <wm-gridrow name="gridrow53" padding="1px unset">
                                                                        <wm-gridcolumn columnwidth="12" name="gridcolumn178">
                                                                            <wm-popover name="popover11" popoverwidth="350" caption="Q/QRTTPC" content="QRTTPC_DETAILS" contentsource="partial" class="btn-link" margin="0px" iconclass="wi wi-info"></wm-popover>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                    <wm-gridrow name="gridrow65">
                                                                        <wm-gridcolumn columnwidth="12" name="gridcolumn151" colwidth="3" horizontalalign="left">
                                                                            <wm-label caption="bind:'Available '+(Variables.get_return_flights.dataSet.data[$i].firstClassSeats+Variables.get_return_flights.dataSet.data[$i].economySeats+Variables.get_return_flights.dataSet.data[$i].businessClassSeats)"
                                                                            class="bg-warning" borderstyle="solid" name="label129" borderwidth="1px" padding=".2em .5em" color="#fff" backgroundcolor="#A1AAE8"></wm-label>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                </wm-layoutgrid>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="8" name="gridcolumn90_1" borderstyle="solid" bordercolor="#ccc" borderwidth="1px" backgroundcolor="#fbfbfb" height="185">
                                                                <wm-layoutgrid name="layoutgrid14_1">
                                                                    <wm-gridrow name="gridrow58_2">
                                                                        <wm-gridcolumn borderstyle="solid" bordercolor="#ccc" name="gridcolumn129_1" columnwidth="8" borderwidth="unset 1px 1px unset" padding="0.3em unset unset 1em">
                                                                            <wm-label caption="bind:Variables.selectedCurrency.dataSet.dataValue" class="h4" name="label139" margin="0px unset unset unset" padding="unset 25% unset unset" textalign="right"></wm-label>
                                                                        </wm-gridcolumn>
                                                                        <wm-gridcolumn borderstyle="solid" bordercolor="#ccc" borderwidth="0 0 1px 0" name="gridcolumn130_1" columnwidth="4" padding=".3em unset unset 1em">
                                                                            <wm-label caption="Category" class="h4" name="label140" margin="0px unset unset unset"></wm-label>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                    <wm-gridrow name="gridrow59_1">
                                                                        <wm-gridcolumn borderstyle="solid" bordercolor="#ccc" name="gridcolumn132_2" columnwidth="4" padding="unset unset unset .5em">
                                                                            <wm-popover name="popover8" popoverwidth="240" popoverheight="360" width="100%" class="h5" caption="Pay to Change" contentsource="partial" content="Pay_to_Change" margin="1em unset unset unset"
                                                                            popoverplacement="top" iconclass="wi wi-info"></wm-popover>
                                                                            <wm-popover name="popover9" popoverwidth="240" popoverheight="360" width="100%" class="h5" caption="Special Offer" content="SpecialOffer" margin="1em unset unset unset"
                                                                            popoverplacement="top" iconclass="wi wi-info"></wm-popover>
                                                                            <wm-popover name="popover10" popoverwidth="240" popoverheight="360" width="100%" class="h5" caption="Free to Change" content="FreeToChange" margin="1em unset unset unset"
                                                                            popoverplacement="top" iconclass="wi wi-info"></wm-popover>
                                                                        </wm-gridcolumn>
                                                                        <wm-gridcolumn borderstyle="solid" bordercolor="#ccc" name="gridcolumn133_3" columnwidth="4" borderwidth="unset 1px unset unset">
                                                                            <wm-radioset height="auto" name="radioset4" datafield="All Fields" dataset="bind:((Widgets.selectCurrency.datavalue==&quot;INR&quot;)?Variables.get_return_flights.dataSet.economyClassFare:(Variables.get_return_flights.dataSet.economyClassFare/66  | toNumber: '1' ) )+ &quot;,&quot; +

((Widgets.selectCurrency.datavalue==&quot;INR&quot;)?Variables.get_return_flights.dataSet.businessClassFare:(Variables.get_return_flights.dataSet.businessClassFare/66  | toNumber: '1' ) )+ &quot;,&quot; +

((Widgets.selectCurrency.datavalue==&quot;INR&quot;)?Variables.get_return_flights.dataSet.firstClassFare:(Variables.get_return_flights.dataSet.firstClassFare/66  | toNumber: '1' ) )" on-change="radioset4Change($event, $scope)" class="h4" margin="0px unset unset unset"></wm-radioset>
                                                                        </wm-gridcolumn>
                                                                        <wm-gridcolumn borderstyle="solid" bordercolor="#ccc" columnwidth="4" padding="unset unset unset .5em" name="gridcolumn168_1">
                                                                            <wm-popover popoverwidth="240" popoverheight="360" width="100%" class="h5" caption="Economy" contentsource="partial" content="Pay_to_Change" margin="1em unset unset unset" popoverplacement="top"
                                                                            name="popover16" iconclass="wi wi-info"></wm-popover>
                                                                            <wm-popover popoverwidth="240" popoverheight="360" width="100%" class="h5" caption="Bussiness" content="SpecialOffer" margin="1em unset unset unset" popoverplacement="top"
                                                                            name="popover17" iconclass="wi wi-info"></wm-popover>
                                                                            <wm-popover popoverwidth="240" popoverheight="360" width="100%" class="h5" caption="First Class" content="FreeToChange" margin="1em unset unset unset" popoverplacement="top"
                                                                            name="popover18" iconclass="wi wi-info"></wm-popover>
                                                                        </wm-gridcolumn>
                                                                    </wm-gridrow>
                                                                </wm-layoutgrid>
                                                            </wm-gridcolumn>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-listtemplate>
                                        </wm-livelist>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-container>
                        <wm-container name="containerNoFlights" show="bind:false">
                            <wm-tile name="tile67" backgroundcolor="#e9d2db" horizontalalign="center" show="true">
                                <wm-label name="label178" fontsize="26" caption="No Flights Available!!!" color="#3a3a3a"></wm-label>
                            </wm-tile>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>