/*uib-datepicker*/
.ui-widget.ui-widget-content {
    border-color: #ccc;
    background-color: #fff;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    background-color: transparent;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    background-color: #0fb3ae;
}
.ui-widget-header {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    color: #333;
}
.ui-widget-content .ui-datepicker-prev.ui-state-disabled,.ui-widget-content .ui-datepicker-next.ui-state-disabled {
    background-color: #0fb3ae;
    opacity: .5;
}
.ui-datepicker-multi .ui-datepicker-group table thead tr {
    background-color: #0fb3ae;
    color: #fff;
}
.ui-datepicker-multi .ui-datepicker-group table thead tr th span {
    font-weight: normal;
    text-align: center;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    background-color: transparent;
    opacity: .5;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    text-align: center;
        background-image: none;
    background-color: transparent;
    border-color: transparent;
}
.ui-state-active, .ui-state-active.ui-state-hover {
    border-color: transparent;
    background-image: none;
    color: #ffffff !important;
    background-color: #7b88df !important;
    text-decoration: none;
    font-weight: normal;
}
.ui-datepicker-next.ui-datepicker-next-hover,.ui-datepicker-prev.ui-datepicker-prev-hover {
    background-image: none;
}
/******Date-picker*******/
.input-date-picker {
    position: relative;
}
.input-date-picker-icon {
    position: absolute;
    top: 8px;
    right: 4px;
    color: #0fb3ae;
}
/*padding 0 for radioset*/
.app-radioset-label {
    padding:0 0 0 1px!important;
}
/*dates livelist styles*/
.app-livelist.dates .app-datanavigator+.app-livelist-container .app-list-item {
    width: 25%;
}
.radioTop{
    
    background-color: #e9e8f8;
    padding-left: 30px !important;
}
