<wm-page data-ng-controller="DetailsPageController" pagetitle="Details" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1" backgroundcolor="#EFEFEF">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="7" name="gridcolumn1">
                        <wm-layoutgrid name="layoutgrid3" columns="1">
                            <wm-gridrow name="gridrow22">
                                <wm-gridcolumn colwidth="12" name="gridcolumn50" horizontalalign="left">
                                    <wm-panel name="panel1" title="bind:'Departure | '+Variables.lvBookingDetails.dataSet.data[$i].flightByToFlightId.departureDate+' | Non-stop | '+Variables.lvBookingDetails.dataSet.data[$i].flightByToFlightId.airlines" class="panel-primary">
                                        <wm-container name="container2" backgroundcolor="#ffffff">
                                            <wm-layoutgrid name="layoutgrid5" marginunit="em">
                                                <wm-gridrow name="gridrow31" bordercolor="#EFEFEF" borderstyle="solid" borderwidth="0px 0px 1px 0px">
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn65" horizontalalign="left">
                                                        <wm-label name="label3" caption="Segment"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn66" horizontalalign="left">
                                                        <wm-label name="label4" caption="Flight"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn67" horizontalalign="left" padding="unset unset unset 7%">
                                                        <wm-label name="label5" caption="Description"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn74" horizontalalign="left">
                                                        <wm-label name="label6" caption="Pax" horizontalalign="center"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn75" horizontalalign="left">
                                                        <wm-label name="label7" caption="Fare"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn85" horizontalalign="left">
                                                        <wm-label caption="Tax" name="label8"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn86" horizontalalign="left">
                                                        <wm-label caption="Service" name="label9"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow32" padding="1em unset unset unset">
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn68">
                                                        <wm-label name="label18" caption="1" padding="unset unset unset 1em"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn69">
                                                        <wm-label name="label19" caption="bind:'Air '+Variables.lvBookingDetails.dataSet.data[$i].flightByToFlightId.number"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn70">
                                                        <wm-layoutgrid name="layoutgrid8" columns="2">
                                                            <wm-gridrow name="gridrow29_1">
                                                                <wm-gridcolumn colwidth="6" name="gridcolumn62" columnwidth="6">
                                                                    <wm-label name="label20" caption="bind:Variables.lvBookingDetails.dataSet.data[$i].flightByToFlightId.departureTime" readonlygrid="true"></wm-label>
                                                                </wm-gridcolumn>
                                                                <wm-gridcolumn colwidth="6" name="gridcolumn63_1">
                                                                    <wm-label name="label42" caption="bind:Variables.lvBookingDetails.dataSet.data[$i].flightByToFlightId.arrivalTime"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                            <wm-gridrow name="gridrow30_2">
                                                                <wm-gridcolumn colwidth="6" name="gridcolumn64_2">
                                                                    <wm-label name="label43" fontweight="bold" caption="bind:Variables.lvBookingDetails.dataSet.data[$i].flightByToFlightId.airportBySourceAirport.code"></wm-label>
                                                                </wm-gridcolumn>
                                                                <wm-gridcolumn colwidth="6" name="gridcolumn65_2">
                                                                    <wm-label name="label44" fontweight="bold" caption="bind:Variables.lvBookingDetails.dataSet.data[$i].flightByToFlightId.airportByDestinationAirport.code"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                        </wm-layoutgrid>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn87">
                                                        <wm-label name="label21" caption="bind:Variables.lvBookingDetails.dataSet.data[$i].totalPassengers"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn88">
                                                        <wm-label name="label22" caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((Variables.lvBookingDetails.dataSet.data[$i].toFare-(((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100))) | toNumber: '1'):(((Variables.lvBookingDetails.dataSet.data[$i].toFare-(((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100))/66) | toNumber: '1')"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn89">
                                                        <wm-label name="label23" caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)/66) | toNumber: '1')"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn90">
                                                        <wm-label name="label24" caption="0.0"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-container>
                                    </wm-panel>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow33_1">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn67_2">
                                    <wm-panel name="panel2" title="bind:'Return | '+Variables.lvBookingDetails.dataSet.data[$i].flightByFroFlightId.departureDate+' | Non-stop | '+Variables.lvBookingDetails.dataSet.data[$i].flightByFroFlightId.airlines" class="panel-primary"
                                    show="bind:Variables.lvBookingDetails.dataSet.data[$i].tripType == 'Round Trip'">
                                        <wm-container backgroundcolor="#ffffff" name="container7" show="bind:Variables.lvBookingDetails.dataSet.data[$i].tripType == 'Round Trip'">
                                            <wm-layoutgrid marginunit="em" name="layoutgrid10_2">
                                                <wm-gridrow bordercolor="#EFEFEF" borderstyle="solid" name="gridrow33_2" borderwidth="0px 0px 1px 0px">
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn69_1">
                                                        <wm-label caption="Segment" name="label52_1"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn70_1">
                                                        <wm-label caption="Type" name="label53"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="3" name="gridcolumn71">
                                                        <wm-label caption="Description" name="label54"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn72">
                                                        <wm-label caption="Pax" name="label55"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn73">
                                                        <wm-label caption="Fare" name="label56"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn74_2">
                                                        <wm-label caption="Tax" name="label57"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn75_1">
                                                        <wm-label caption="Service" name="label58"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow34_3" padding="1em unset unset unset">
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn76_1">
                                                        <wm-label caption="1" name="label59"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn77_1">
                                                        <wm-label caption="bind:'Air '+Variables.lvBookingDetails.dataSet.data[$i].flightByFroFlightId.number" name="label60"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="3" name="gridcolumn78_1">
                                                        <wm-layoutgrid columns="2" name="layoutgrid11">
                                                            <wm-gridrow name="gridrow35_1">
                                                                <wm-gridcolumn colwidth="6" columnwidth="6" name="gridcolumn79_1">
                                                                    <wm-label caption="bind:Variables.lvBookingDetails.dataSet.data[$i].flightByFroFlightId.departureTime" readonlygrid="true" name="label61"></wm-label>
                                                                </wm-gridcolumn>
                                                                <wm-gridcolumn colwidth="6" name="gridcolumn80_1">
                                                                    <wm-label caption="bind:Variables.lvBookingDetails.dataSet.data[$i].flightByFroFlightId.arrivalTime" name="label62"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                            <wm-gridrow name="gridrow36_1">
                                                                <wm-gridcolumn colwidth="6" name="gridcolumn81_1">
                                                                    <wm-label fontweight="bold" caption="bind:Variables.lvBookingDetails.dataSet.data[$i].flightByFroFlightId.airportBySourceAirport.code" name="label63"></wm-label>
                                                                </wm-gridcolumn>
                                                                <wm-gridcolumn colwidth="6" name="gridcolumn82_2">
                                                                    <wm-label fontweight="bold" caption="bind:Variables.lvBookingDetails.dataSet.data[$i].flightByFroFlightId.airportByDestinationAirport.code" name="label64"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                        </wm-layoutgrid>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn83_1">
                                                        <wm-label caption="bind:(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount)" name="label65"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn84_1">
                                                        <wm-label caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((Variables.lvBookingDetails.dataSet.data[$i].froFare-(((Variables.lvBookingDetails.dataSet.data[$i].froFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)) | toNumber: '1')):(((Variables.lvBookingDetails.dataSet.data[$i].froFare-(((Variables.lvBookingDetails.dataSet.data[$i].froFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100))/66 | toNumber: '1'))"
                                                        name="label66"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn85_1">
                                                        <wm-label caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?((((Variables.lvBookingDetails.dataSet.data[$i].froFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100) | toNumber: '1'):((((Variables.lvBookingDetails.dataSet.data[$i].froFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100/66) | toNumber: '1')"
                                                        name="label67"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="1" name="gridcolumn86_1">
                                                        <wm-label caption="0.0" name="label68"></wm-label>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-container>
                                    </wm-panel>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow28">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn63" padding="unset unset 1em unset">
                                    <wm-tabs name="tabs1">
                                        <wm-tabpane name="tabpane1" heading="Passengers" readonlygrid="true">
                                            <wm-grid name="grid1" dataset="bind:Variables.svGetPassengersbyBookingID.dataSet" readonlygrid="true" multiselect="false" radioselect="true" gridfirstrowselect="true" class="panel-default" nodatamessage="No Passengers Added Yet !"
                                            deletemessage="Passengers deleted successfully" loadingdatamsg="Please wait while fetching passengers.....">
                                                <wm-grid-column binding="FIRST_NAME" caption="FIRST_NAME" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                                                <wm-grid-column binding="EMAIL" caption="EMAIL" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                                                <wm-grid-column binding="PHONE" caption="PHONE" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                                                <wm-grid-column binding="LAST_NAME" caption="LAST_NAME" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                                                <wm-grid-column binding="TITLE" caption="TITLE" type="string" readonly="true" pcdisplay="true" mobiledisplay="true" show="true"></wm-grid-column>
                                            </wm-grid>
                                        </wm-tabpane>
                                        <wm-tabpane name="tabpane3" heading="Comments">
                                            <wm-form title="" enctype="application/x-www-form-urlencoded" method="put" formvariable="update_coments" name="form3" postmessage="Comments Added Successfully">
                                                <wm-layoutgrid name="layoutgrid11_1">
                                                    <wm-gridrow name="gridrow33_3">
                                                        <wm-gridcolumn columnwidth="12" name="gridcolumn70_2">
                                                            <wm-form-field readonly="false" isupdatemode="true" name="comments" target="comments" show="true" widget="textarea" placeholder="Enter Your Comments" width="100%"></wm-form-field>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                                <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup3">
                                                    <wm-button caption="Reset" type="reset" class="btn-secondary" name="button10"></wm-button>
                                                    <wm-button caption="Save" type="submit" class="btn-default" name="button12"></wm-button>
                                                </wm-buttongroup>
                                            </wm-form>
                                        </wm-tabpane>
                                    </wm-tabs>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow30_1">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn65_1">
                                    <wm-form title="Add passengers" name="form2" class="panel-primary" postmessage="Passenger Added successfully">
                                        <wm-layoutgrid name="layoutgrid10">
                                            <wm-gridrow name="gridrow31_1">
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn63_2" padding="unset .3em unset unset">
                                                    <wm-select tabindex="1" dataset="Mr, Ms, Mrs" datavalue="Mr" name="passengerTitleSelect" placeholder="Title"></wm-select>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn name="gridcolumn60" columnwidth="6">
                                                    <wm-composite name="composite5">
                                                        <wm-container name="container9">
                                                            <wm-text tabindex="2" placeholder="First name" name="firstNameLabel" required="true"></wm-text>
                                                        </wm-container>
                                                    </wm-composite>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn64_3" padding="unset unset unset .3em">
                                                    <wm-composite name="composite8">
                                                        <wm-container class="col-md-12" name="container12">
                                                            <wm-text tabindex="3" placeholder="Last name" name="lastNameText" required="true"></wm-text>
                                                        </wm-container>
                                                    </wm-composite>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow32_1">
                                                <wm-gridcolumn name="gridcolumn61" columnwidth="2"></wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn65_3">
                                                    <wm-text tabindex="4" name="passengerEmailLabel" placeholder="Email Address" type="email" required="true"></wm-text>
                                                    <wm-composite name="composite10" margin="1em unset unset unset">
                                                        <wm-container class="col-md-12" name="container14">
                                                            <wm-select tabindex="5" dataset="+91,+0" datavalue="Option 3" placeholder="+91" name="select5" height="35" width="80" class="col-md-3"></wm-select>
                                                            <wm-text tabindex="6" name="phoneNumberLabel" width="226" class="col-md-8" type="tel" required="true" placeholder="Enter Phone Number" maxchars="10"></wm-text>
                                                        </wm-container>
                                                    </wm-composite>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn66_1">
                                                    <wm-label class="col-md-3" caption="The Ticket will be sent to the customers email address &amp; phone" name="label52" width="100%"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow33">
                                                <wm-gridcolumn name="gridcolumn62_1" columnwidth="2"></wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn67_1"></wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                        <wm-buttongroup horizontalalign="right" class="form-action" name="buttongroup2" textalign="left">
                                            <wm-button tabindex="8" caption="Reset" type="reset" class="btn-secondary" name="button5"></wm-button>
                                            <wm-button tabindex="7" caption="Add Passenger" type="button" class="btn-default" name="addPassengerButton" on-click="Variables.lvInsertPassenger.createRecord()"></wm-button>
                                        </wm-buttongroup>
                                    </wm-form>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="5" name="gridcolumn3" padding="unset 1em">
                        <wm-panel name="panel3" title="Payment Summary" class="panel-primary">
                            <wm-layoutgrid name="layoutgrid2" columns="1" backgroundcolor="#ffffff" padding="unset 0.5em">
                                <wm-gridrow name="gridrow34">
                                    <wm-gridcolumn colwidth="12" name="gridcolumn76" columnwidth="4">
                                        <wm-label name="label33" caption="Fare Quote" fontweight="bold" color="#000000" class="h4"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="8" name="gridcolumn57">
                                        <wm-composite name="composite1">
                                            <wm-container class="col-md-9" name="container5" marginunit="em" paddingunit="em"></wm-container>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow35">
                                    <wm-gridcolumn colwidth="12" name="gridcolumn77">
                                        <wm-label name="label34" fontweight="bold" caption="bind:Variables.lvBookingDetails.dataSet.data[$i].tripType+', '+Variables.lvBookingDetails.dataSet.data[$i].flightByToFlightId.airportBySourceAirport.code+' <-> '+Variables.lvBookingDetails.dataSet.data[$i].flightByToFlightId.airportByDestinationAirport.code"
                                        color="#000000"></wm-label>
                                        <wm-label name="label46" caption="bind:Variables.details_for_booking.dataSet.adultCount+' Adult, '+Variables.details_for_booking.dataSet.childrenCount+' Children, '+Variables.details_for_booking.dataSet.infantCount+' Infant '"
                                        margin="unset unset unset .5em" class="pull-right"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow36">
                                    <wm-gridcolumn colwidth="12" name="gridcolumn78">
                                        <wm-label name="label36" caption="bind:(Variables.selected_to_flight.dataSet.departureDate | toDate: 'dd MMM, yyyy')+' | '+(Variables.lvBookingDetails.dataSet.data[$i].flightByFroFlightId.departureDate| toDate: 'dd MMM, yyyy')"
                                        class="p"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow37" borderstyle="solid" bordercolor="#EFEFEF" borderwidth="0px 0px 1px 0px">
                                    <wm-gridcolumn colwidth="12" name="gridcolumn79" padding="1em unset">
                                        <wm-label name="label38" class="pull-right" caption="bind:Variables.selectedCurrency.dataSet.dataValue+&quot; &quot;+Variables.totalFare.dataSet.dataValue" color="#fff" fontweight="bold" backgroundcolor="rgb(145, 197, 162)"
                                        padding="unset .3em" margin="unset unset unset 1em"></wm-label>
                                        <wm-label caption="Total Quote&amp;nbsp;&amp;nbsp;:" name="label37" fontweight="bold" color="#000000" class="pull-right" padding="unset 1px unset unset"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow38">
                                    <wm-gridcolumn colwidth="12" name="gridcolumn80">
                                        <wm-label name="label39" caption="Fare Breakup  :" bordercolor="#888" borderstyle="solid" borderwidth="0px" padding="1em 1em unset unset" fontunit="em" margin="unset unset 1em unset" class="h4" fontweight="bold"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow39" bordercolor="#ccc" borderstyle="none" borderwidth="unset unset 1px unset">
                                    <wm-gridcolumn colwidth="12" name="gridcolumn81">
                                        <wm-layoutgrid show="true" name="layoutgrid11_2" padding="unset 0.5em unset unset">
                                            <wm-gridrow name="gridrow38_1">
                                                <wm-gridcolumn columnwidth="12" paddingunit="px" name="gridcolumn77_2">
                                                    <wm-label caption="bind:'Segment 1 | '+Variables.lvBookingDetails.dataSet.data[$i].flightByToFlightId.number+' | '+Variables.lvBookingDetails.dataSet.data[$i].flightByToFlightId.airportBySourceAirport.code+' - '+Variables.lvBookingDetails.dataSet.data[$i].flightByToFlightId.airportByDestinationAirport.code+' | '+Variables.lvBookingDetails.dataSet.data[$i].flightByToFlightId.airlines"
                                                    fontweight="bold" name="label59_1"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="adult_child_row12" backgroundcolor="#f5f5f5">
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn78_2" horizontalalign="center">
                                                    <wm-label caption="bind:'Adult x '+Variables.details_for_booking.dataSet.adultCount" name="label61_1" class="h6"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn79_2" horizontalalign="center">
                                                    <wm-label caption="bind:'Child x '+Variables.details_for_booking.dataSet.childrenCount" name="label62_1" class="h6"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow40_1" padding="1em unset unset unset">
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn80_2" padding="unset 1em unset .5em">
                                                    <wm-label caption="AIR KTPC. Adult" name="label63_1"></wm-label>
                                                    <wm-label class="pull-right" caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*60)/100)) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*60)/100)/66) | toNumber: '1')"
                                                    name="label64_1" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn81_2">
                                                    <wm-label caption="AIR KTPC. Child" name="label65_1"></wm-label>
                                                    <wm-label class="pull-right" caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*60)/100)) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*60)/100)/66) | toNumber: '1')"
                                                    name="label66_1" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow41_1">
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn82_3" padding="unset 1em unset .5em">
                                                    <wm-label caption="bind:'FUEL '" name="label67_1"></wm-label>
                                                    <wm-label class="pull-right" caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)/66) | toNumber: '1')"
                                                    name="label68_1" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn83_2">
                                                    <wm-label caption="bind:'FUEL '" name="label69"></wm-label>
                                                    <wm-label class="pull-right" caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)/66) | toNumber: '1')"
                                                    name="label70"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow42" padding="unset unset 1em unset">
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn84" padding="unset 1em unset .5em">
                                                    <wm-label caption="TAX - Service Tax" name="label71"></wm-label>
                                                    <wm-label class="pull-right" caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)/66) | toNumber: '1')"
                                                    name="label72" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn85_2">
                                                    <wm-label caption="TAX - Service Tax" name="label73"></wm-label>
                                                    <wm-label class="pull-right" caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)/66) | toNumber: '1')"
                                                    name="label74"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow bordercolor="#ccc" borderstyle="solid" name="gridrow43" borderwidth="0px 0px 1px 0px">
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn86_2" padding="unset 1em unset .5em">
                                                    <wm-label caption="Segment Total" fontweight="bold" padding="unset .3em unset unset" name="label84_1"></wm-label>
                                                    <wm-label class="pull-right" caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*Variables.details_for_booking.dataSet.adultCount))) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*Variables.details_for_booking.dataSet.adultCount))/66) | toNumber: '1')"
                                                    name="label76" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn87_1">
                                                    <wm-label caption="Segment Total" fontweight="bold" padding="unset .3em unset unset" name="label85_1"></wm-label>
                                                    <wm-label class="pull-right" caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*Variables.details_for_booking.dataSet.adultCount))) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*Variables.details_for_booking.dataSet.adultCount))/66) | toNumber: '1')"
                                                    name="label78" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow44" padding="1em unset unset unset">
                                                <wm-container show="bind:Variables.lvBookingDetails.dataSet.data[$i].tripType == 'Round Trip'" name="container8">
                                                    <wm-gridrow name="gridrow45">
                                                        <wm-gridcolumn columnwidth="12" name="gridcolumn88_1">
                                                            <wm-label caption="bind:'Segment 2 | '+Variables.lvBookingDetails.dataSet.data[$i].flightByFroFlightId.number+' | '+Variables.lvBookingDetails.dataSet.data[$i].flightByFroFlightId.airportBySourceAirport.code+' - '+Variables.lvBookingDetails.dataSet.data[$i].flightByFroFlightId.airportByDestinationAirport.code+' | '+Variables.lvBookingDetails.dataSet.data[$i].flightByFroFlightId.airlines"
                                                            fontweight="bold" name="label79"></wm-label>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                    <wm-gridrow name="adult_child_row1" backgroundcolor="#f5f5f5">
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn89_1" horizontalalign="center">
                                                            <wm-label caption="bind:'Adult x '+Variables.details_for_booking.dataSet.adultCount" name="label81" class="h6"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn90_1" horizontalalign="center">
                                                            <wm-label caption="bind:'Child x '+Variables.details_for_booking.dataSet.childrenCount" name="label82" class="h6"></wm-label>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                    <wm-gridrow name="gridrow47" padding="1em unset unset unset">
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn91" padding="unset 1em unset .5em">
                                                            <wm-label caption="AIR KTPC. Adult" name="label83"></wm-label>
                                                            <wm-label caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].froFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*60)/100)) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*60)/100)/66) | toNumber: '1')"
                                                            class="pull-right" name="label84" fontweight="bold"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn92">
                                                            <wm-label caption="AIR KTPC. Child" name="label85"></wm-label>
                                                            <wm-label caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].froFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*60)/100)) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*60)/100)/66) | toNumber: '1')"
                                                            class="pull-right" name="label86" fontweight="bold"></wm-label>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                    <wm-gridrow name="gridrow48_1">
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn93" padding="unset 1em unset .5em">
                                                            <wm-label caption="bind:'FUEL'+Widgets.to_flight_livelist.selecteditem.airportBySourceAirport.code+' '+Widgets.to_flight_livelist.selecteditem.airportByDestinationAirport.code" name="label87"></wm-label>
                                                            <wm-label caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].froFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)/66) | toNumber: '1')"
                                                            class="pull-right" name="label88" fontweight="bold"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn94">
                                                            <wm-label caption="bind:'FUEL - '+Widgets.to_flight_livelist.selecteditem.airportBySourceAirport.code+' - '+Widgets.to_flight_livelist.selecteditem.airportByDestinationAirport.code" name="label89"></wm-label>
                                                            <wm-label caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].froFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)/66) | toNumber: '1')"
                                                            class="pull-right" name="label90" fontweight="bold"></wm-label>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                    <wm-gridrow name="gridrow49_1">
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn95" padding="unset 1em unset .5em">
                                                            <wm-label caption="TAX - Service Tax" name="label91"></wm-label>
                                                            <wm-label caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].froFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)/66) | toNumber: '1')"
                                                            class="pull-right" name="label92" fontweight="bold"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn96">
                                                            <wm-label caption="TAX - Service Tax" name="label93"></wm-label>
                                                            <wm-label caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].froFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*20)/100)/66) | toNumber: '1')"
                                                            class="pull-right" name="label94" fontweight="bold"></wm-label>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                    <wm-gridrow borderstyle="none" name="gridrow50">
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn97" padding="unset 1em unset .5em">
                                                            <wm-label caption="Segment Total" name="label95" fontweight="bold" padding="unset .3em unset unset"></wm-label>
                                                            <wm-label caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].froFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*Variables.details_for_booking.dataSet.adultCount))) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*Variables.details_for_booking.dataSet.adultCount))/66) | toNumber: '1')"
                                                            class="pull-right" name="label96" fontweight="bold"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn98">
                                                            <wm-label caption="Segment Total" fontweight="bold" padding="unset .3em unset unset" name="label83_1"></wm-label>
                                                            <wm-label caption="bind:(Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?(((((Variables.lvBookingDetails.dataSet.data[$i].froFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*Variables.details_for_booking.dataSet.adultCount))) | toNumber: '1'):(((((Variables.lvBookingDetails.dataSet.data[$i].toFare/(Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount))*Variables.details_for_booking.dataSet.adultCount))/66) | toNumber: '1')"
                                                            class="pull-right" name="label98" fontweight="bold"></wm-label>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-container>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow24_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn58" horizontalalign="right">
                                        <wm-button on-click="Widgets.dialog1.open()" class="btn-default" caption="Proceed to Payment" type="button" name="proceedToPaymentButton" disabled="true" margin="1em 1em unset 1em"></wm-button>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-panel>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view show="false" name="view1" class="dialog-view">
        <wm-dialog name="dialog1" dialogtype="design-dialog" modal="true" title="Payment Details" iconclass="glyphicon glyphicon-edit">
            <wm-layoutgrid columns="1" name="layoutgrid10_1">
                <wm-gridrow name="gridrow34_1">
                    <wm-gridcolumn name="gridcolumn74_1" colwidth="12">
                        <wm-label caption="Your PNR will be generated. If  not paid in 72 hours after booking your booking will be cancelled." class="h4" name="label48"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow42_1">
                    <wm-gridcolumn horizontalalign="right" name="gridcolumn82_1" colwidth="12">
                        <wm-button on-click="Variables.goToPage_FlightConfirmation.invoke()" name="Confirm" class="btn-default" caption="Confirm and Generate PNR" type="button"></wm-button>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions show="false" name="dialogactions1">
                <wm-button name="button5_1" class="btn-secondary" caption="Cancel" on-click="closeDialog()"></wm-button>
                <wm-button name="button6_1" class="btn-primary" caption="Save"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>