<wm-partial data-ng-controller="Quote_DetailsPageController" type="popover" name="partial1">
    <wm-tile show="true" zindex="5" name="tile1" borderwidth="0px">
        <wm-layoutgrid name="layoutgrid1">
            <wm-gridrow name="gridrow1">
                <wm-gridcolumn columnwidth="12" name="gridcolumn3" padding="unset 1em">
                    <wm-layoutgrid name="layoutgrid2" columns="1" backgroundcolor="#ffffff" padding="unset 0.5em">
                        <wm-gridrow name="gridrow34">
                            <wm-gridcolumn colwidth="12" name="gridcolumn76" columnwidth="4">
                                <wm-label name="label33" caption="Fare Quote" fontweight="bold" color="#000000" class="h4"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="8" name="gridcolumn57"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow35">
                            <wm-gridcolumn colwidth="12" name="gridcolumn77">
                                <wm-label caption="bind:Variables.details_for_booking.dataSet.journeyType +', '+ Variables.selected_to_flight.dataSet.airportBySourceAirport.code+'<->'+Variables.selected_to_flight.dataSet.airportByDestinationAirport.code + ' | '"
                                fontweight="bold" name="label3"></wm-label>
                                <wm-label caption="bind:Variables.details_for_booking.dataSet.adultCount+Variables.details_for_booking.dataSet.childrenCount+Variables.details_for_booking.dataSet.infantCount +' Passengers'" color="#888" name="label4"
                                margin="unset unset unset 0.5em"></wm-label>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow36">
                            <wm-gridcolumn colwidth="12" name="gridcolumn78">
                                <wm-label caption="bind:Variables.details_for_booking.dataSet.journeyType == 'One Way'
?(Variables.stvSelectedToFlightDetails.dataSet.departureDate | toDate: 'dd MMM, yy')
:(Variables.stvSelectedToFlightDetails.dataSet.departureDate  +' | '+Variables.stvSelectedFroFlightDetails.dataSet.departureDate)" color="#888" name="label5" class="p"></wm-label>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow37" borderstyle="solid" bordercolor="#EFEFEF" borderwidth="0px 0px 1px 0px">
                            <wm-gridcolumn colwidth="12" name="gridcolumn79" padding="1em unset">
                                <wm-label name="label38" class="pull-right" caption="bind:Variables.selectedCurrency.dataSet.dataValue+&quot; &quot;+Variables.totalFare.dataSet.dataValue" color="#fff" fontweight="bold" backgroundcolor="rgb(145, 197, 162)"
                                padding="unset .3em" margin="unset unset unset 1em"></wm-label>
                                <wm-label caption="Total Quote&amp;nbsp;&amp;nbsp;:" name="label37" fontweight="bold" color="#000000" class="pull-right" padding="unset 1px unset unset"></wm-label>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow38">
                            <wm-gridcolumn colwidth="12" name="gridcolumn80">
                                <wm-label name="label39" caption="Fare Breakup  :" bordercolor="#888" borderstyle="solid" borderwidth="0px" padding="1em 1em unset unset" fontunit="em" margin="unset unset 1em unset" class="h4" fontweight="bold"></wm-label>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow39" bordercolor="#ccc" borderstyle="none" borderwidth="unset unset 1px unset">
                            <wm-gridcolumn colwidth="12" name="gridcolumn81">
                                <wm-layoutgrid show="true" name="layoutgrid11_2" padding="unset 0.5em unset unset">
                                    <wm-gridrow name="gridrow38_1">
                                        <wm-gridcolumn columnwidth="12" paddingunit="px" name="gridcolumn77_2">
                                            <wm-label caption="bind:Variables.stvSelectedToFlightDetails.dataSet.number" fontweight="bold" name="label9"></wm-label>
                                            <wm-label caption="bind:Variables.stvSelectedToFlightDetails.dataSet.airportBySourceAirport.code+' - '+Variables.stvSelectedToFlightDetails.dataSet.airportByDestinationAirport.code" fontweight="bold"
                                            name="label10" margin="unset unset unset 1em"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="adult_child_row12" backgroundcolor="#f5f5f5">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn78_2" horizontalalign="center">
                                            <wm-label caption="bind:'Adult x '+Variables.details_for_booking.dataSet.adultCount" name="label61_1" class="h6"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn79_2" horizontalalign="center">
                                            <wm-label caption="bind:'Child x '+Variables.details_for_booking.dataSet.childrenCount" name="label62_1" class="h6"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow40_1" padding="1em unset unset unset">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn80_2" padding="unset 1em unset .5em">
                                            <wm-label caption="AIR KTPC. Adult" name="label63_1"></wm-label>
                                            <wm-label class="pull-right" caption="bind:(Variables.selected_Radio.dataSet.dataValue*60)/100" name="label14" fontweight="bold"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn81_2">
                                            <wm-label caption="AIR KTPC. Child" name="label65_1"></wm-label>
                                            <wm-label class="pull-right" caption="bind:(Variables.selected_Radio.dataSet.dataValue*60)/100" name="label16" fontweight="bold"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow41_1">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn82_3" padding="unset 1em unset .5em">
                                            <wm-label caption="bind:'FUEL '" name="label67_1"></wm-label>
                                            <wm-label class="pull-right" caption="bind:(Variables.selected_Radio.dataSet.dataValue*20)/100" name="label18" fontweight="bold"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn83_2">
                                            <wm-label caption="bind:'FUEL '" name="label69"></wm-label>
                                            <wm-label class="pull-right" caption="bind:(Variables.selected_Radio.dataSet.dataValue*20)/100" name="label20" fontweight="bold"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow42" padding="unset unset 1em unset">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn84" padding="unset 1em unset .5em">
                                            <wm-label caption="TAX - Service Tax" name="label71"></wm-label>
                                            <wm-label class="pull-right" caption="bind:(Variables.selected_Radio.dataSet.dataValue*20)/100" name="label22" fontweight="bold"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn85_2">
                                            <wm-label caption="TAX - Service Tax" name="label73"></wm-label>
                                            <wm-label class="pull-right" caption="bind:(Variables.selected_Radio.dataSet.dataValue*20)/100" name="label24" fontweight="bold"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow bordercolor="#ccc" borderstyle="solid" name="gridrow43" borderwidth="0px 0px 1px 0px">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn86_2" padding="unset 1em unset .5em">
                                            <wm-label caption="Total Segment PTC Code" fontweight="bold" padding="unset .3em unset unset" name="label84_1"></wm-label>
                                            <wm-label class="pull-right" caption="bind:Variables.selected_Radio.dataSet.dataValue*Variables.details_for_booking.dataSet.adultCount" name="label26" fontweight="bold"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn87_1">
                                            <wm-label caption="Segment Total" fontweight="bold" padding="unset .3em unset unset" name="label85_1"></wm-label>
                                            <wm-label class="pull-right" caption="bind:Variables.selected_Radio.dataSet.dataValue*Variables.details_for_booking.dataSet.childrenCount" name="label28" fontweight="bold"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow44" padding="1em unset unset unset">
                                        <wm-container show="bind:Variables.details_for_booking.dataSet.journeyType == 'Round Trip'" name="container8">
                                            <wm-gridrow name="gridrow45">
                                                <wm-gridcolumn columnwidth="12" name="gridcolumn88_1">
                                                    <wm-label caption="bind:Variables.stvSelectedFroFlightDetails.dataSet.number" fontweight="bold" name="label29"></wm-label>
                                                    <wm-label caption="bind:Variables.stvSelectedFroFlightDetails.dataSet.airportBySourceAirport.code+' - '+Variables.stvSelectedFroFlightDetails.dataSet.airportByDestinationAirport.code" fontweight="bold"
                                                    name="label30" margin="unset unset unset 1em"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="adult_child_row1" backgroundcolor="#f5f5f5">
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn89_1" horizontalalign="center">
                                                    <wm-label caption="bind:'Adult x '+Variables.details_for_booking.dataSet.adultCount" name="label81" class="h6"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn90_1" horizontalalign="center">
                                                    <wm-label caption="bind:'Child x '+Variables.details_for_booking.dataSet.childrenCount" name="label82" class="h6"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow47" padding="1em unset unset unset">
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn91" padding="unset 1em unset .5em">
                                                    <wm-label caption="AIR KTPC. Adult" name="label83"></wm-label>
                                                    <wm-label caption="bind:(Variables.selected_fro_Radio.dataSet.dataValue*60)/100" class="pull-right" name="label34" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn92">
                                                    <wm-label caption="AIR KTPC. Child" name="label85"></wm-label>
                                                    <wm-label caption="bind:(Variables.selected_fro_Radio.dataSet.dataValue*60)/100" class="pull-right" name="label36" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow48_1">
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn93" padding="unset 1em unset .5em">
                                                    <wm-label caption="bind:'FUEL'+Widgets.to_flight_livelist.selecteditem.airportBySourceAirport.code+' '+Widgets.to_flight_livelist.selecteditem.airportByDestinationAirport.code" name="label87"></wm-label>
                                                    <wm-label caption="bind:(Variables.selected_fro_Radio.dataSet.dataValue*20)/100" class="pull-right" name="label38" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn94">
                                                    <wm-label caption="bind:'FUEL - '+Widgets.to_flight_livelist.selecteditem.airportBySourceAirport.code+' - '+Widgets.to_flight_livelist.selecteditem.airportByDestinationAirport.code" name="label89"></wm-label>
                                                    <wm-label caption="bind:(Variables.selected_fro_Radio.dataSet.dataValue*20)/100" class="pull-right" name="label40" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow49_1">
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn95" padding="unset 1em unset .5em">
                                                    <wm-label caption="TAX - Service Tax" name="label91"></wm-label>
                                                    <wm-label caption="bind:(Variables.selected_fro_Radio.dataSet.dataValue*20)/100" class="pull-right" name="label42" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn96">
                                                    <wm-label caption="TAX - Service Tax" name="label93"></wm-label>
                                                    <wm-label caption="bind:(Variables.selected_fro_Radio.dataSet.dataValue*20)/100" class="pull-right" name="label44" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow borderstyle="none" name="gridrow50">
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn97" padding="unset 1em unset .5em">
                                                    <wm-label caption="Segment Total" name="label95" fontweight="bold" padding="unset .3em unset unset"></wm-label>
                                                    <wm-label caption="bind:Variables.selected_fro_Radio.dataSet.dataValue*Variables.details_for_booking.dataSet.adultCount" class="pull-right" name="label46" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn98">
                                                    <wm-label caption="Segment Total" fontweight="bold" padding="unset .3em unset unset" name="label83_1"></wm-label>
                                                    <wm-label caption="bind:Variables.selected_fro_Radio.dataSet.dataValue*Variables.details_for_booking.dataSet.childrenCount" class="pull-right" name="label48" fontweight="bold"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-container>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow24_1"></wm-gridrow>
                    </wm-layoutgrid>
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
    </wm-tile>
</wm-partial>