/*.wm-app .list-group-item.active.orange-top {*/
/*     border-top: 3px solid #F5873E !important;*/
/*     background-image: url("resources/images/imagelists/stripe_ccd967178f890832504313bd31405252.gif");*/
/*}*/
/*.wm-app .list-group-item.orange-top {*/
/*    border-radius:0 !important;*/
/*    border-right: 1px solid #eee !important;*/
/*}*/
/*.wm-app .list-group-item.active.orange-left {*/
/*     border-left: 3px solid #F5873E !important;*/
/*}*/
/***********Border-radius*********/
/*.bod-rad {*/
/*    Border-radius: 25px;*/
/*}*/
/*.workspace-content .canvas-container .canvas-panel.view-port-web .app-page-content label[widgettype="wm-label"] {*/
/*    text-overflow: ellipsis;*/
/*    height: 1.25em;*/
/*    overflow: hidden;*/
/*}*/