<wm-page data-ng-controller="AllBookingsPageController" pagetitle="All Bookings" name="page1"> 
    <wm-header content="header" name="header1"></wm-header> 
    <wm-content name="content1"> 
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel> 
        <wm-page-content columnwidth="10" name="page_content1"> 
            <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list details-list" dataset="bind:Variables.FDCallCenterDBBookingData1.dataSet" navigation="Basic" name="livelist1" orderby="bookingDate:asc" nodatamessage="No Bookings Found" loadingdatamsg="Please Wait While Fetching Bookings..."> 
                <wm-listtemplate layout="inline" name="listtemplate1"> 
                    <wm-container class="media-body" name="container2"> 
                        <wm-layoutgrid name="layoutgrid1"> 
                            <wm-gridrow name="gridrow1"> 
                                <wm-gridcolumn columnwidth="12" name="gridcolumn2"> 
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn1"> 
                                        <wm-container name="container2_1" class="media" padding="unset 1em" bordercolor="#ccc" borderstyle="solid" borderwidth="0px 0px 1px 0px" backgroundcolor="#0fb3ae" color="#ffffff"> 
                                            <wm-container name="container3" class="media-left" width="40%"> 
                                                <wm-label caption="bind:&quot;FLIGHT - &quot;+Variables.FDCallCenterDBBookingData1.dataSet.data[$i].flightByToFlightId.number" class="p" whitespace="nowrap" name="FilghtNumber" fontsize="1.2" fontweight="bold" fontunit="em"></wm-label> 
                                            </wm-container> 
                                            <wm-container name="container5" class="media-body"></wm-container> 
                                            <wm-container name="container4" class="media-right"> 
                                                <wm-label caption="bind:Variables.FDCallCenterDBBookingData1.dataSet.data[$i].totalPassengers+&quot; Passenger(s)&quot;" class="p" whitespace="nowrap" name="totalPassengers" margin="unset unset 0px unset"></wm-label> 
                                                <wm-label name="ClassType" class="media-heading" caption="bind:Variables.FDCallCenterDBBookingData1.dataSet.data[$i].classType" fontsize="1.143" fontunit="em" whitespace="nowrap"></wm-label> 
                                            </wm-container> 
                                        </wm-container> 
                                    </wm-gridcolumn> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-gridrow name="gridrow2"> 
                                <wm-gridcolumn columnwidth="12" bordercolor="#f5f5f5" borderwidth="1px 0 1px 1px" borderstyle="solid" name="gridcolumn4" padding="1em unset" class="media"> 
                                    <wm-container name="Arrival" padding="1em 2em 1em 5em" width="30%" class="media-left arrival"> 
                                        <wm-layoutgrid name="layoutgrid2" backgroundcolor="#E9E8F8" padding=".5em"> 
                                            <wm-gridrow name="gridrow12_1"> 
                                                <wm-gridcolumn columnwidth="12" name="gridcolumn23"> 
                                                    <wm-label name="label31" class="h3 p" textalign="center" caption="Arrival" bordercolor="#ccc" borderstyle="solid" borderwidth="0px 0px 1px 0px" margin=".3em unset unset unset" fontweight="bold"></wm-label> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow4"> 
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn10"> 
                                                    <wm-label name="label16" caption="Airport Code"></wm-label> 
                                                    <wm-label name="label23_1" class="pull-right" caption=":" padding="unset 1em unset unset"></wm-label> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn11"> 
                                                    <wm-label caption="bind:Variables.FDCallCenterDBBookingData1.dataSet.data[$i].flightByToFlightId.airportBySourceAirport.code" class="p  " whitespace="nowrap" name="sAirportCode"></wm-label> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow5"> 
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn13"> 
                                                    <wm-label caption="Airport Name" name="label17"></wm-label> 
                                                    <wm-label class="pull-right" caption=":" padding="unset 1em unset unset" name="label24"></wm-label> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn14"> 
                                                    <wm-label caption="bind:Variables.FDCallCenterDBBookingData1.dataSet.data[$i].flightByToFlightId.airportBySourceAirport.name" class="p  " whitespace="nowrap" name="sAirportName"></wm-label> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow6"> 
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn16"> 
                                                    <wm-label caption="Time" name="label18"></wm-label> 
                                                    <wm-label class="pull-right" caption=":" padding="unset 1em unset unset" name="label25"></wm-label> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn17"> 
                                                    <wm-label caption="bind:Variables.FDCallCenterDBBookingData1.dataSet.data[$i].flightByToFlightId.arrivalTime" class="p  " whitespace="nowrap" name="aTime"></wm-label> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow10"> 
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn28"> 
                                                    <wm-label caption="Date" name="label19"></wm-label> 
                                                    <wm-label class="pull-right" caption=":" padding="unset 1em unset unset" name="label26"></wm-label> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn29"> 
                                                    <wm-label caption="bind:Variables.FDCallCenterDBBookingData1.dataSet.data[$i].flightByToFlightId.arrivalDate" class="p  " whitespace="nowrap" name="aDate"></wm-label> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                        </wm-layoutgrid> 
                                    </wm-container> 
                                    <wm-container name="departure" width="30%" class="media-body"> 
                                        <wm-container name="container12" class="flight-image-con"> 
                                            <wm-label name="label33" caption="" bordercolor="#ccc" borderstyle="dashed" borderwidth="0px 0px 1px 0px" width="100%" margin="unset unset 3px unset"></wm-label> 
                                            <wm-picture name="picture1" class="flight-image" picturesource="resources/images/imagelists/flightdeparture_icon.png" width="30px" height="30px" backgroundcolor="#ffffff" shape="circle" bordercolor="#f0f0f0" borderstyle="solid" borderwidth="1px"></wm-picture> 
                                        </wm-container> 
                                    </wm-container> 
                                    <wm-container name="container8" class="media-right  departure" width="30%"> 
                                        <wm-container name="container11" class="media-body1"> 
                                            <wm-layoutgrid name="layoutgrid4" backgroundcolor="#e3f1f0" padding=".5em"> 
                                                <wm-gridrow name="gridrow13_1"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn25"> 
                                                        <wm-label class="p h3" textalign="center" name="label32" caption="Departure" bordercolor="#ccc" borderstyle="solid" borderwidth="0px 0px 1px 0px" margin=".3em unset unset unset" fontweight="bold"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                                <wm-gridrow name="gridrow11"> 
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn30"> 
                                                        <wm-label caption="Airport Code" name="label20"></wm-label> 
                                                        <wm-label class="pull-right" caption=":" padding="unset 1em unset unset" name="label27"></wm-label> 
                                                    </wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn31"> 
                                                        <wm-label caption="bind:Variables.FDCallCenterDBBookingData1.dataSet.data[$i].flightByToFlightId.airportByDestinationAirport.code" class="p  " whitespace="nowrap" name="dAirportCode"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                                <wm-gridrow name="gridrow12"> 
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn32"> 
                                                        <wm-label caption="Airport Name" name="label21"></wm-label> 
                                                        <wm-label class="pull-right" caption=":" padding="unset 1em unset unset" name="label28"></wm-label> 
                                                    </wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn33"> 
                                                        <wm-label caption="bind:Variables.FDCallCenterDBBookingData1.dataSet.data[$i].flightByToFlightId.airportByDestinationAirport.name" class="p  " whitespace="nowrap" name="dAirportName"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                                <wm-gridrow name="gridrow13"> 
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn34"> 
                                                        <wm-label caption="Time" name="label22"></wm-label> 
                                                        <wm-label class="pull-right" caption=":" padding="unset 1em unset unset" name="label29"></wm-label> 
                                                    </wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn35"> 
                                                        <wm-label caption="bind:Variables.FDCallCenterDBBookingData1.dataSet.data[$i].flightByToFlightId.departureTime" class="p  " whitespace="nowrap" name="dTime"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                                <wm-gridrow name="gridrow14"> 
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn36"> 
                                                        <wm-label caption="Date" name="label23"></wm-label> 
                                                        <wm-label class="pull-right" caption=":" padding="unset 1em unset unset" name="label30"></wm-label> 
                                                    </wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn37"> 
                                                        <wm-label caption="bind:Variables.FDCallCenterDBBookingData1.dataSet.data[$i].flightByToFlightId.departureDate" class="p  " whitespace="nowrap" name="dDate"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-container> 
                                    </wm-container> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-gridrow name="gridrow3"> 
                                <wm-gridcolumn columnwidth="12" name="gridcolumn7"> 
                                    <wm-container name="container9" class="media-body" padding="unset unset unset 1em"> 
                                        <wm-label name="BookingDate" caption="bind:&quot;Booked On : &quot;+Variables.FDCallCenterDBBookingData1.dataSet.data[$i].bookingDate" class="p" whitespace="nowrap" width="50%"></wm-label> 
                                        <wm-label caption="bind:Variables.FDCallCenterDBBookingData1.dataSet.data[$i].tripType" class="p text-muted" whitespace="nowrap" name="TripTypeDontDelete" width="50%" show="false"></wm-label> 
                                    </wm-container> 
                                    <wm-container name="container10" class="media-right" fontunit="pt"> 
                                        <wm-label caption="bind:(Variables.selectedCurrency.dataSet.dataValue) +&quot; &quot;+((Variables.selectedCurrency.dataSet.dataValue==&quot;INR&quot;)?((Variables.FDCallCenterDBBookingData1.dataSet.data[$i].totalQuote | toNumber: '1')):((Variables.FDCallCenterDBBookingData1.dataSet.data[$i].totalQuote/66) | toNumber: '1'))" whitespace="nowrap" name="totalQuote" fontsize="1.3" horizontalalign="center" fontunit="em" padding="0em .5em" backgroundcolor="#91C5A2" color="#ffffff" margin=".5em .5em .5em unset"></wm-label> 
                                    </wm-container> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="6" name="gridcolumn9" horizontalalign="right"></wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-layoutgrid> 
                    </wm-container> 
                </wm-listtemplate> 
            </wm-livelist> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer content="footer" name="footer1"></wm-footer> 
</wm-page>