.wm-app .media-left, .wm-app .media-right, .wm-app .media-body  {
    vertical-align: middle;
}
.wm-app .details-list .list-group-item {
    padding: 0;
    margin-bottom: 2em;
    box-shadow: 0px 1px 5px #ccc;
}
.wm-app .details-list  .list-group-item.active, .wm-app  .details-list  .list-group-item.active:hover, .wm-app  .details-list  .list-group-item.active:focus {
    background-color: #fff;
}
.wm-app .departure.media-right {
    padding: 1em 5em 1em 2em !important;
}
.flight-image-con {
    position: relative;
}
.flight-image {
    position: absolute;
    display: block;
    right: 50%;
    top: -5px;
    padding: 3px;
    
}